<script src="owlcarousel/owl.carousel.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
  integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
  integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<!-- isMobile() -->
<!-- <script src="https://libs.zappar.com/zappar-mobile-only/0.0.2/zappar-mobileonly.js"></script>
<script>

  if (!MobileOnly.isMobile()) {
    MobileOnly.showUI({
      header: "Almost there...",
      url: 'https://hersheysgifting.co.in/',
      instructions: "instructions"
    });
  }

</script> -->

<script>

  // check if browser is chrome or ios
  // var isChrome = !!window.chrome && (!!window.chrome.webstore || !!window.chrome.csi)

  // let isIOS = (/iPad|iPhone|iPod/.test(navigator.platform) ||
  //   (navigator.platform === 'MacIntel' && navigator.maxTouchPoints > 1)) &&
  //   !window.MSStream


  // /////////////////////////////////////////////////////////////////////////////////////////////
  // ------------------------------------hershey kisses---------------------

  $("p.expansion-btn").click(function () {
    classes = this.className;
    var divNumber = classes.slice(-1);
    var toGetId = "#div-" + divNumber;
    if ($(toGetId).hasClass("expanded-div")) {
      $(".normal-div").removeClass("compressed-div expanded-div");
    }
    else {
      $(".normal-div").removeClass("compressed-div expanded-div").addClass("compressed-div");;
      $(toGetId).removeClass("compressed-div").addClass("expanded-div");
    }
  });




  // -------------------------------card
  $("p.custom-expansion-btn").click(function () {
    classes = this.className;
    var divNumber = classes.slice(-1);
    var toGetId = "#custom-div-" + divNumber;



    if ($(toGetId).hasClass("custom-expanded-div")) {
      $(".custom-div").removeClass("custom-compressed-div custom-expanded-div");
    } else {
      $(".custom-div").removeClass("custom-compressed-div custom-expanded-div").addClass("custom-compressed-div");
      $(toGetId).removeClass("custom-compressed-div").addClass("custom-expanded-div");
    }
  });
  // -----------------------------------------------
  $(document).ready(function () {
    $("p.custom-option-btn").click(function () {
      var classes = this.className;
      var divNumber = classes.slice(-1);
      var toGetId = "#custom-option-" + divNumber;
      if ($(toGetId).hasClass("custom-expanded-option")) {
        $(".custom-option").removeClass("custom-compressed-option custom-expanded-option");
      } else {
        $(".custom-option").removeClass("custom-compressed-option custom-expanded-option").addClass("custom-compressed-option");
        $(toGetId).removeClass("custom-compressed-option").addClass("custom-expanded-option");
      }
    });
  });


  // ----------------------hersheybar-------------------------------





  $("p.expansion-btn").click(function () {
    classes = this.className;
    var divNumber = classes.slice(-1);
    var toGetId = "#hershey-bar-" + divNumber;
    if ($(toGetId).hasClass("expanded-div-bars")) {
      $(".div-var").removeClass("compressed-div expanded-div-bars");
    } else {
      $(".div-var").removeClass("compressed-div expanded-div-bars").addClass("compressed-div");
      $(toGetId).removeClass("compressed-div").addClass("expanded-div-bars");
    }
  });







  $("p.new-expansion-btn").click(function () {
    classes = this.className;
    var divNumber = classes.slice(-1);
    var toGetId = "#new-hershey-bar-" + divNumber;
    if ($(toGetId).hasClass("new-expanded-div")) {
      $(".new-div-var").removeClass("new-compressed-div new-expanded-div");
    } else {
      $(".new-div-var").removeClass("new-compressed-div new-expanded-div").addClass("new-compressed-div");
      $(toGetId).removeClass("new-compressed-div").addClass("new-expanded-div");
    }
  });








  $("p.option-btn").click(function () {
    var classes = this.className;
    var divNumber = classes.slice(-1);
    var toGetId = "#option-" + divNumber;
    if ($(toGetId).hasClass("option-expanded")) {
      $(".option-div").removeClass("option-compressed option-expanded");
    } else {
      $(".option-div").removeClass("option-compressed option-expanded").addClass("option-compressed");
      $(toGetId).removeClass("option-compressed").addClass("option-expanded");
    }
  });


  // ------------------------------------------------------

  // const carouselImages = document.querySelectorAll('.carosel-images');

  // carouselImages.forEach((image) => {
  //   image.addEventListener('click', handleCarouselClick);
  // });

  // function handleCarouselClick(event) {
  //   const clickedImage = event.target;
  //   const carouselId = clickedImage.getAttribute('data-carousel-id');

  //   if (clickedImage.classList.contains('active')) {
  //     carouselImages.forEach((image) => {
  //       image.classList.remove('disabled');
  //     });
  //   } else {
  //     carouselImages.forEach((image) => {
  //       if (image !== clickedImage) {
  //         image.classList.add('disabled');
  //       }
  //     });

  //   }

  //   clickedImage.classList.toggle('active');
  // }
  // ---------------------------------------------hershey exotic jquery--------------------------------



  $("p.expansion-btn").click(function () {
    classes = this.className;
    var divNumber = classes.slice(-1);
    var toGetId = "#exotic-hershey-" + divNumber;
    if ($(toGetId).hasClass("exotic-hershey")) {
      $(".exotic-dark").removeClass("compressed-div exotic-hershey");
    } else {
      $(".exotic-dark").removeClass("compressed-div exotic-hershey").addClass("compressed-div");
      $(toGetId).removeClass("compressed-div").addClass("exotic-hershey");
    }
  });



  $("p.exotic-expansion-btn").click(function () {
    classes = this.className;
    var divNumber = classes.slice(-1);
    var toGetId = "#exotic-dark-card2-" + divNumber;

    if ($(toGetId).hasClass("exotic-expanded-div")) {
      $(".exotic-div").removeClass("exotic-compressed-div exotic-expanded-div");
    } else {
      $(".exotic-div").removeClass("exotic-compressed-div exotic-expanded-div").addClass("exotic-compressed-div");
      $(toGetId).removeClass("exotic-compressed-div").addClass("exotic-expanded-div");
    }
  });

  $(".sibling-bond-option").click(function () {
    var optionId = this.id;
    var toGetId = "#" + optionId;

    if ($(toGetId).hasClass("expanded-option")) {
      $(".sibling-bond-option").removeClass("compressed-option expanded-option");
    } else {
      $(".sibling-bond-option").removeClass("compressed-option expanded-option").addClass("compressed-option");
      $(toGetId).removeClass("compressed-option").addClass("expanded-option");
    }
  });














</script>
<script src="main-bundled.js"></script>
</body>

</html>