<html lang="en">


<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-WLX0K8GZ8C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-WLX0K8GZ8C');
  </script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KZZLBTGX');</script>
    <!-- End Google Tag Manager -->

  <meta name="8thwall:renderer" content="aframe:1.2.0">
  <meta name="8thwall:package" content="@8thwall.xrextras">
  <meta name="8thwall:package" content="@8thwall.landing-page">

  <!-- Other external scripts and meta tags can also be added. -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
  <!-- <script src="//cdn.8thwall.com/web/aframe/8frame-1.3.0.min.js"></script> -->
  <script src="//cdn.8thwall.com/web/aframe/aframe-extras-7.2.1.min.js"></script>

  <!-- XR Extras - provides utilities like load screen, almost there, and error handling.
    See github.com/8thwall/web/tree/master/xrextras -->
  <script src="//cdn.8thwall.com/web/xrextras/xrextras.js"></script>

  <!-- Landing Pages - see https://www.8thwall.com/docs/web/#landing-pages -->
  <script src='//cdn.8thwall.com/web/landing-page/landing-page.js'></script>

  <!-- 8thWall Web - Replace the app key here with your own app key -->
  <script async src="//apps.8thwall.com/xrweb?appKey=foDlbRnIwDnkFnkkpG2KT4I5Q9DrpqFUG3fnfHeIH8cAeBqKpqptWQPv6kZFbtcDbiurez
    "></script>
  <!-- <script src="https://libs.zappar.com/zappar-sharing/1.1.5/zappar-sharing.min.js"></script> -->

  <!-- common scripts -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="diwali.css">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <link rel="icon" type="image/x-icon" href="images/icon-192x192.png">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
  <title>Hershey's</title>