h1 {
    font-family: "GothamBold";
    font-size: 40px!important;
}
h3 {
    font-family: "GothamBold";
    font-size: 24px!important;
}
h5 {
    font-family: "GothamBold";
    font-size: 20px!important;
}
p {
    font-family: "GothamBook";
    font-size: 14px!important;
}
header {
    width: 100%;
    height: 80dvh;
    background-image: url('../assets/images/why-makear-office-team-noida.png');
    background-size: cover;
    background-position: center;
}
header .container-rc {
    height: inherit;
}
.header-title {
    margin: 0px auto;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-title h1 {
    text-align: center;
    color: #fff;
}
section {
    margin: 50px 0px;
    padding: 50px 0px;
}
.section-wrapper {
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.section-header {
    text-align: center;
    margin-bottom: 50px;
}
.parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}
.item {
    border-radius: 27px;
    background-color: #D9D9D9;
}
.item .wrapper {
    padding: 30px;
    text-align: center;
}
.item .wrapper .img {
    margin: 15px 0px;
}
.item .wrapper h6 {
    margin: 12px 0px;
    font-family: "GothamBold";
    font-size: 16px;
}

.opt-for {
    color: #fff;
    background-color: #E11B4C;
}
.opt-for .parent {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.opt-for .parent .item {
    cursor: default;
    border-radius: 8px;
    border: 1px solid #FFF;
    background-color: unset;
    transition: 0.1s ease-in;
}
.opt-for .parent .item:hover{
    background-color: #fff;
    color: #E11B4C;
}

.measuring-ar .parent .item {
    border-radius: unset;
    border: 1px solid #000;
    background-color: unset;
}
.case-study {
    width: 70%;
    margin: 0px auto;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
}
.project-thumbnail {
    width: 235px;
    height: 350px;
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/images/vodafone-case-study-thumbnail.png'); */
}
.project-thumbnail img {
    width: 100%;
}
.case-study .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}
.case-study .wrapper button {
    width: 235px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 45px 10px 30px;
    font-family: 'GothamBold';
    text-decoration: none;
    position: absolute;
    border-radius: 20px;
    border: 3px solid #FFF;
    background: rgba(255, 251, 152, 0.90);
}
.case-study .wrapper button a {
    border: 1px solid #DF1D4E;
    text-transform: uppercase;
    color: #DF1D4E;
}
.case-study .wrapper button h5 {
    color: #DF1D4E;
    text-transform: uppercase;
}
.stats-section {
    padding: 25px 0px;
}
.stats-section h5 {
    line-height: 30px;
}
.client-section {
    display: flex;
    align-items: center;
}
.client-section h5 {
    line-height: 30px;
}
.client-logos {
    display: flex;
    justify-content: flex-end;
}
.client-logos img{
    width: 60%;
}

.footer {
    background-color: #DF1D4E;
    margin-bottom: 0px;
}
.footer .section-wrapper {
    flex-direction: column;
}
.contact-slide h5 {
    color: #fff;
    line-height: 45px;
    text-align: center;
}
.contact-slide h5 span {
    background: #fff;
    padding: 10px 20px 14px;
    border-radius: 5px;
}
.contact-slide h5 span img {
    width: 110px;
}
.footer .contact-btn {
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px;
    font-family: 'GothamBook';
    font-size: 15px;
    text-transform: uppercase;
}
.footer .contact-btn a{
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #ffff;
}
.case-study .wrapper button.hide-me {
    display: none;
}
.email-form {
    display: flex;
    justify-content: center;
}
.email-form form {
    width: 100%;
    position: relative;
}
.name-and-phone {
    display: flex;
    justify-content: space-between;
}
.email-form form input,
.email-form form textarea {
    height: 50px;
    border-radius: 10px;
    background: #F1F1F1;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25) inset;
    border: none;
    padding: 0px 10px;
    font-family: 'GothamBook';
    color: #000;
}
.email-form form textarea {
    height: 100px;
}
.email-form form textarea::placeholder {
    vertical-align: middle;
}
.name-and-phone,
.email-input,
.message-area {
    margin: 10px 0px 0px;
}
#phone {
    padding: 0px 10px 0px 50px;
}
#submitBtn {
    border-radius: 10px;
    background: #DF1D4E;
    border: none;
    height: 50px;
    padding: 0px 20px;
    font-family: 'GothamBold';
    text-transform: capitalize;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.video-parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 8px;
    row-gap: 1px;
}
.video-child video {
    width: 100%;
}

@media screen and (max-width: 414px) {
    .step-2-content {
        height: 100%;
    }
    .step-2-inner {
        height: inherit;
    }
    .step-2-content .step-2-inner video {
        object-fit: cover;
        height: 100%;
    }
    .story-content {
        left: 30px;
        width: 80%;
    }
    .actor ul li {
        left: 0px;
    }
    .actor-content {
        margin-left: unset;
        margin-right: unset;
        left: 20px;
    }
    .age-content-inner .news-article {
        width: 60vw;
    }
    .age-content-inner .video-player {
        width: 70vw;
    }
    .age-content-inner .product-scan {
        top: 50px;
        right: 10px;
        width: 35vw;
    }
    .age-content-inner .content-img {
        width: 45vw;
        bottom: 10px;
        left: 0px;
    }
    .actor-content p {
        width: 80vw;
        font-size: 18px!important;
    }
    .screen4-content li p {
        font-size: 20px!important;
    }
    .screen4-content li p {
        width: 65vw;
    }
    .screen5-content li p {
        width: 60vw;
        font-size: 20px!important;
    }
    .screen6 {
        top: 60px;
    }
    .screen6-content li {
        height: 40%;
        width: 80%;
    }
    .screen6-content li p {
        width: 70vw;
        font-size: 20px!important;
    }
    .screen7-content ul li {
        top: 0px;
        bottom: 0px;
    }
    .movie .bg {
        height: inherit;
    }
    .movie .bg img {
        height: 140%;
    }
    .step-4 .bg img {
        height: unset;
    }
}