<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>

<section>
    <div class="container">

        <% success.forEach(function(message) { %>
            <div class="alert alert-success text-center"><%= message %></div>
        <% }) %>

        <div class="row">
            <div class="section-wrapper col-md-8 col-xs-12">
                <div class="section-header">
                    <h3>Contact Us</h3>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center ">
            <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12">
                <div class="email-form">
                    <form action="/send-email" method="POST">
                        <div class="name-and-phone">
                            <input class="col-6" type="text" name="name" placeholder="Name*" required>
                            <input class="col-12" type="tel" name="phone" placeholder="Phone" id="phone">
                        </div>
                        <div class="email-input">
                            <input class="col-12" type="email" name="email" id="sendEmail" placeholder="Email*" required>
                        </div>
                        <div class="message-area">
                            <textarea class="col-12" name="message" id="" cols="30" rows="3" placeholder="Message"></textarea>
                        </div>
                        <button class="col-8" id="submitBtn">Submit Details</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

<%- include('includes/footer.ejs') %>