<form action="/view-emails" method="POST">
    <button>View submitted email address</button>
</form>

<% if(locals.data) { %>
    <% locals.data.map((list) => { %>
        <ul>
            <li>
                <%= list.name %>
            </li>
            <li>
                <%= list.phone %>
            </li>
            <li>
                <%= list.email %>
            </li>
            <li>
                <%= list.message %>
            </li>
        </ul>
    <% }) %>
<% } %>