<%- include('./includes/header') %>

<section class="get-coupon-section">
    <div class="relative-div-content">
        <div class="bg-images top-elements">
            <div class="col-3">
                <img class="hanging-circle" src="/images/hanging-circle-shapes.png" alt="">
            </div>
            <div class="col-6"></div>
            <div class="col-3"><img class="rakhi-kiss-ns" src="/images/rakhi-kiss.png" alt=""></div>
        </div>
        <div class="coupon-video">
            <h2 style="position: absolute; top: 0px;" class="browser-is" id="browserIs"></h2>
            <div id = "alertDiv" class="container">
                <div class="alert alert-warning text-center alert-ns" role="alert">
                    Please accept Terms and Condition
                </div>
            </div>
            <div id="confetti" class="confetti-video">
                <video class="confetti-video-file" autoplay muted playsinline webkit-playsinline>
                    <source src="/videos/confetti_VP9.webm" type="video/webm; codecs=vp9">
                    <source src="/videos/confetti.mov" type="video/mp4; codecs=hev1">
                </video>
            </div>
            <video class="get-coupon-video" autoplay muted playsinline webkit-playsinline>
                <source src="/videos/get_coupon_VP9.webm" type="video/webm; codecs=vp9">
                <source src="/videos/get_coupon.mov" type="video/mp4; codecs=hev1">
            </video>
        </div>
        <div class="bg-images middle-elements">
            <div class="col-8"></div>
            <div class="col-4">
                <img class="flower-combo-2" src="/images/flower-combo-2.png" alt="">
            </div>
        </div>
        <div class="bg-images low-elements">
            <div class="col-4">
                <img src="images/flower-combo.png" alt="">
            </div>
            <div class="col-2"></div>
            <div class="col-6">
                <img src="images/rakhi.png" alt="">
            </div>
        </div>
    
        <div class="container">
            <div class="voucher-parent">
                <div class="voucher-div hide-content" >
                    <div class="tnc-div">
                        <input class="form-check-input-ns" value="coupon-code" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label-ns" for="flexCheckDefault">
                            I Accept T&C
                        </label>
                    </div>
                    <!-- -->
                    <button id ="welcomeBtn" disabled><span id="couponValue" class="coupon-btn-text">
                        Tap to Get Voucher
                    </span></button>
                    <!-- <div id="couponMessage"></div> -->
                   
                    <p>Use code on the BMS app to avail offer</p>
                    <div class="post-script-text">
                        <p>P.S - Take a screenshot to redeem later</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<script>
$(document).ready(function () {
    // Function to update "Welcome" button text with coupon message
    function updateButtonText(couponMessage) {
    $("#couponValue").text(couponMessage);
    }

    // Function to send AJAX request and handle coupon response
    function getCoupon() {
    $.ajax({
        type: "GET",
        url: "/get-coupon",
        success: function (data) {
        updateButtonText(data.couponMessage);
        },
        error: function () {
        console.error("Error fetching coupon.");
        }
    });
    }

    // Check if the "coupon" cookie is present on page load
    const visitorCoupon = Cookies.get('coupon');
    if (visitorCoupon) {
    getCoupon(); // If the cookie exists, update the button text immediately
    }

    // Event listener for the "Welcome" button
    $("#welcomeBtn").click(function () {
        const checkboxChecked = $("#flexCheckDefault").prop("checked");
    getCoupon(); // On click, update the button text with the coupon message
    });

    // Event listener for the checkbox
    $("#flexCheckDefault").change(function () {
    // Enable or disable the "Welcome" button based on checkbox status
    $("#welcomeBtn").prop("disabled", !this.checked);
    if (this.checked) {
        console.log("clicked")
          $("#alertDiv").hide(); // Hide the alert div when the checkbox is checked
        } else {
            console.log("not clicked")
          $("#alertDiv").show(); // Show the alert div when the checkbox is not checked
        }
    });
});
</script>
<%- include('./includes/footer') %>
<script>
    let confettiVideo = document.querySelector(".confetti-video-file")
  let couponVideo = document.querySelector(".get-coupon-video")

  if (isChrome) {
      confettiVideo.src = "/videos/confetti_VP9.webm"
      confettiVideo.type = "video/webm; codecs=vp9"
      confettiVideo.controls = false
      confettiVideo.removeAttribute('controls')
      confettiVideo.play()
      couponVideo.src = "/videos/get_coupon_VP9.webm"
      couponVideo.type = "video/webm; codecs=vp9"
      couponVideo.controls = false
      couponVideo.removeAttribute('controls')
      couponVideo.play()
    } else if (isIOS) {
      confettiVideo.src = "/videos/confetti.mov"
      confettiVideo.type = "video/mp4; codecs=hev1"
      confettiVideo.controls = false
      confettiVideo.removeAttribute('controls')
      confettiVideo.play()
      couponVideo.src = "/videos/get_coupon.mov"
      couponVideo.type = "video/mp4; codecs=hev1"
      couponVideo.controls = false
      couponVideo.removeAttribute('controls')
      couponVideo.play()
    } else {
      document.getElementById("browserIs").innerHTML = "Broweser doesn't support video"
    }

  // hide confetti video after playing and show get coupon button
    document.addEventListener('DOMContentLoaded', e => {
      var confettiVideo = document.querySelector(".confetti-video-file");
      var getCouponForm = document.querySelector(".voucher-div")
      var relativeDivContent = document.querySelector(".relative-div-content")
      var postScripText = document.querySelector(".post-script-text")

      confettiVideo.addEventListener('ended', e => {
        confettiVideo.parentElement.style.display = "none"
        relativeDivContent.style.height = "unset"
        getCouponForm.classList.remove("hide-content")
        getCouponForm.classList.add("get-coupon-form")
        //getCouponForm.style.display = "flex"
        postScripText.style.display = "block"
      });
    });
</script>