<%- include('./includes/header') %>
<%- include('./includes/index-header') %>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TP3S4JBW"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- receiver first screen -->
  <!-- <div id="receiverfirstscreen">
    <div class=" header d-flex justify-content-center">
      <div class=""><img class="hersheylogo" src="/images/hersheyslogo.png" /></div>
    </div>
    <div class="landing-page-ns">
      <div class="d-flex justify-content-between">
        <div><img class="landing-page-leftimage" src="/images/Asset 24.png" /></div>
        <div class="d-flex justify-content-start layer-ns">
          <div><img src="/images/Layer 1 (2).png" /></div>
          <div><img src="/images/Layer 1 (1).png" /></div>
        </div>
        <div><img class="landing-page-rakhi" src="/images/rakhi.png" /></div>
      </div>
      <div class="landing-page-ns-position">
        <div class="d-flex justify-content-start">
          <h6 class="landing-page-make">Make</h6>
        </div>
        <div>
          <div class="d-flex justify-content-start">
            <h1 class="landing-page-rakshabandhan">Rakshabandhan</h1>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <h4 class="landing-page-sibling">special for your sibling!</h4>
        </div>
      </div>
      <div class="d-flex justify-content-end shine">
        <img src="/images/shine and glitter.png" />
      </div>
      <div class="d-flex justify-content-center">
        <div class="send-surprise-message " id="sendgift1">
          <h3 class="heading-div" id="sendSurprise">Send surprise message</h3>
          <span class="text-landing-page" id="surpriseText">I want to create a special surprise for my sibling to gift along with
            delicious HERSHEY’S
            chocolates</span>
        </div>

      </div>
      <div class="d-flex justify-content-end">
        <img class="flower2" src="/images/flower-combo-2.png" />
      </div>
      <div class="d-flex justify-content-center " id="sendthanks">
        <div class="send-thankyounote" id="receiverbtn">
          <h3 class="heading-div" >receiver </h3>
          <span class="text-landing-page">I have received delicious HERSHEY’S Chocolates from my sibling and
            wish to thank them</span>
        </div>
      </div>
      <div class="d-flex justify-content-start"> <img class="flower" src="/images/flower-combo.png" /></div>

      <div class="d-flex justify-content-between">
        <div><img src="/images/Shine@1920x 3.png" /></div>
      
        <div><img src="/images/Asset 25.png" /></div>
      </div>
    </div>


  </div> -->
  <!-- senders first screen -->
  <div id="firstscreen">
    <div class=" header d-flex justify-content-center">
      <div class=""><img class="hersheylogo" src="/images/hersheyslogo.png" /></div>
    </div>
    <div class="landing-page-ns">
      <div class="d-flex justify-content-between">
        <div><img class="landing-page-leftimage" src="/images/Asset 24.png" /></div>
        <div class="d-flex justify-content-start layer-ns">
          <div><img src="/images/Layer 1 (2).png" /></div>
          <div><img src="/images/Layer 1 (1).png" /></div>
        </div>
        <div><img class="landing-page-rakhi" src="/images/rakhi.png" /></div>
      </div>
      <div class="landing-page-ns-position">
        <div class="d-flex justify-content-start">
          <h6 class="landing-page-make">Make</h6>
        </div>
        <div>
          <div class="d-flex justify-content-start">
            <h1 class="landing-page-rakshabandhan">Rakshabandhan</h1>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <h4 class="landing-page-sibling">special for your sibling!</h4>
        </div>
      </div>
      <div class="d-flex justify-content-end shine">
        <img src="/images/shine and glitter.png" />
      </div>
      <div class="d-flex justify-content-center">
        <div class="send-surprise-message " id="sendgift">
          <h3 class="heading-div" id="sendSurprise">Send surprise message</h3>
          <span class="text-landing-page" id="surpriseText">I want to create a special surprise for my sibling to gift along with
            delicious HERSHEY’S
            chocolates</span>
        </div>

      </div>
      <div class="d-flex justify-content-end">
        <img class="flower2" src="/images/flower-combo-2.png" />
      </div>
      <div class="d-flex justify-content-center " id="sendthanks">
        <div class="send-thankyounote" id="sendthankyou">
          <h3 class="heading-div" >Send thank you note</h3>
          <span class="text-landing-page">I have received delicious HERSHEY’S Chocolates from my sibling and
            wish to thank them</span>
        </div>
      </div>
      <div class="d-flex justify-content-start"> <img class="flower" src="/images/flower-combo.png" /></div>

      <div class="d-flex justify-content-between">
        <div><img src="/images/Shine@1920x 3.png" /></div>
        <!-- <div> <img src="/images/flower-combo-2.png"/></div> -->
        <div><img src="/images/Asset 25.png" /></div>
      </div>
    </div>


  </div>

  <!-- //second screen -->
<form id="formId" action="/questions" method="POST" enctype="multipart/form-data">
  <div class="wrapper" id="secondscreen">
    <div class=" header d-flex justify-content-center">
      <div class=""><img class="hersheylogo" src="/images/hersheyslogo.png" /></div>
    </div>
    <div class="wrapperdiv">
      <div class="username-section">
        <p class="surprise-heading" id="changeTextScreen">Sending surprise to</p>
        <p class="surprise-heading-ns" id="changeContent">Bhaiya, Didi, Chotu 😉 Add nicknames to make it personal Sibling’s Name</p>
        <input id="siblingname" type="text" placeholder="SIBLING'S NAME" class="userName" required />
      </div>
      <div class="d-flex justify-content-start">
        <img class="carousel-ns" src="/images/Asset 24.png" />
      </div>
      <div class="golden-wrapper">
        <h2 class="title-ns">Select your pack</h2>
        <div class="owl-carousel owl-theme d-flex justify-content-center">
          <div class="item" id="selectPack">
            <h4><img class="carosel-images" id="hoverChange" src="/images/kisses.png" carousel-item data-carousel-id="carousel1"/></h4>
          </div>
          <div class="item">
            <h4><img class="carosel-images" id="hoverhershey" src="/images/hershey.png" carousel-item data-carousel-id="carousel2"/></h4>
          </div>
          <div class="item">
            <h4><img class="carosel-images" id="hoverexotic" src="/images/exotic.png" carousel-item data-carousel-id="carousel3"/></h4>
          </div>
        </div>
       
        
      </div>
      <div class="upload-section">
        <div class="upload-outerdiv">
          <div class=" d-flex justify-content-center">
            <p class="camera-tag">Make it special with a 📷</p>
          </div>
          <div class=" uploader d-flex justify-content-between">
            <div id="imagediv" class="upload-file-text">
              <p class="filejpeg " id="changeFileName">Sibling's Photo</p>
            </div>
            <div class="photo">
              <label for="uploadbtn" class=" uploadbutton">UPLOAD</label>
              <input type="file" style="display: none;" id="uploadbtn" type="submit" accept="image/*" required/>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <p class="base-title">Select a lovely photo together OR of your sibling alone!</p>

          </div>
        </div>
      </div>
      <div class="kisses-bg">
        <img class="flower-carousel-bottom" src="/images/flower-combo-2.png" />
      </div>
      <!-- <hr class="breakline" /> -->
      <div class="d-flex justify-content-center">
        <button id="nextbtn" class="next-button" type="submit">Next</button>
      </div>
    </div>
  </div>
</form>
  <!-- ------------------------------------------------ hershey-kisses-->
  <div class="window-kisses" id="thirdscreen">
    <div class="alert-check-questions invisible">
      <div class="alert-content">
        <div id="alertCloseBtn" class="close-btn-alert">
          <img src="/images/close.png" alt="close">
        </div>
        <div class=" alert alert-warning" role="alert">
          <!-- <img class="question-alert-logo" src="/images/hersheyslogo.png" alt="hersheyslogo"> -->
          <h1 class="display-1 image-missing">\(o_o)/</h1>
          Please select an option for each question!
        </div>
      </div>
    </div>
    <div class="kisses-header">
      <h3 class="knowYour">Help us to know Your</h3>
      <h3 class="sibling">sibling better</h3>
      <h6 class="text-white appropriate">Choose the most appropriates options</h6>
    </div>
    <div class="header-rakhi-image">
      <img class="rakhi-kiss-image" src="/images/rakhi.png" />
    </div>
    <div class="kisses-bg"><img class="image-1-rc" src="/images/image1.png" />
    </div>


    <div class="relative-question-div">
      <div class="container">
        <div class="question-list">
          <div class="qns-1">
            <div class="question-elements">
              <div class="row">
                <p class="qns-2">A word to describe our sibling bond</p>
              </div>
              <div class="row">
                <div class="options-row">
                  <div class="normal-div d-flex" id="div-1">
                    <p class="expansion-btn exp-1">Sweet <br>Troublemakers</p>
                  </div>
                  <div class="normal-div d-flex" id="div-2">
                    <p class="expansion-btn exp-2">Partners in <br>crimes</p>
                  </div>
                  <div class="normal-div d-flex" id="div-3">
                    <p class="expansion-btn exp-3">Top screet <br>Keepers</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="kisses-bg">
            <img class="hersheyBackgroundImage" src="/images/image3.png" />
            <img class="hersheyBackgroundImageSection-4-duplicate" src="/images/image5.png" />
          </div> 
          <div class="qns-1">
      
            <div class="question-elements">
              <div class="row">
                <p class="qns-2">My sibling's superpower is</p>
              </div>
              <div class="row">
                <div class="options-row">
                  <div class="custom-div d-flex" id="custom-div-1">
                    <p class="custom-expansion-btn exp-1">Super <br> caring</p>
                  </div>
                  <div class="custom-div d-flex" id="custom-div-2">
                    <p class="custom-expansion-btn exp-2">Delightfully <br> annoying</p>
                  </div>
                  <div class="custom-div d-flex" id="custom-div-3">
                    <p class="custom-expansion-btn exp-3">Giving mature <br> advices</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="kisses-bg">
            <img class="hersheyBackgroundImageSection-4" src="/images/image5.png" />
            <img class="hersheyBackgroundImageSection-5" src="/images/image6.png" />
          </div>  
          <div class="kisses-bg">
            <img class="image-9" src="/images/image9.png" />
          </div>    
          <div class="qns-1">
            <div class="question-elements">
              <div class="row">
                <p class="qns-2">My sibling tends to be</p>
              </div>
              <div class="row">
                <div class="options-row">
                  <div class="custom-option custom-normal-option d-flex" id="custom-option-1">
                    <p class="custom-option-btn custom-btn-1">Crazy</p>
                  </div>
                  <div class="custom-option custom-normal-option d-flex" id="custom-option-2">
                    <p class="custom-option-btn custom-btn-2">Realistic</p>
                  </div>
                  <div class="custom-option custom-normal-option d-flex" id="custom-option-3">
                    <p class="custom-option-btn custom-btn-3">Determined</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="d-flex justify-content-between hersheyBackgroundImageSection-6">
          <img class="img1" src="/images/image8.png" />
          <img class="img2" src="/images/image7.png" />
        </div>
    </div>
    <div class="d-flex justify-content-center">
      <button class="nextQuestion" id="nextQuestionid">next</button>
    </div>
  </div>

  <!-----------------------------------------hershey bar -->
  <div class="windows-bar" id="thirdscreen-bar">
    <div class="alert-check-questions-bar invisible">
      <div class="alert-content">
        <div id="alertClosebarBtn" class="close-btn-alert">
          <img src="/images/close.png" alt="close">
        </div>
        <div class=" alert alert-warning" role="alert">
          <!-- <img class="question-alert-logo" src="/images/hersheyslogo.png" alt="hersheyslogo"> -->
          <h1 class="display-1 image-missing">\(o_o)/</h1>
          Please select an option for each question!
        </div>
      </div>
    </div>
    <div class="top-banner-ns">
      <img class="top-image-bar" src="/images/top-pattern.png" />
    </div>

    <div class="hanging-circles">
      <img src="/images/hanging-circle-shapes.png" alt="">
    </div>

    <div class="bar-heading">
      <h3 class="knowYour-bar">Help us to know Your</h3>
      <h1 class="sibling-bar">sibling better</h1>
      <div class="d-flex">
        <h6 class="appropriate-bar">choose the most appropriates options</h6>
      </div>
    </div>

    <div class="kisses-bg">
      <img class="elements-bar" src="/images/elements --bars 1.png" />
      <img class="heart-bar" src="/images/bars -heart 1.png" />
    </div>

    <div class="container">
      <div class="outerDiv-bar">
        <!-- card1 -->
  
        <div class="d-flex qns-1-bar">
          <div class="container">
            <div class="question-elements">
              <div class="row">
                <p class="qns-bar-2">A word to describe our sibling bond</p>
              </div>
              <div class="row">
                <div class="options-row option-row-bars">
                  <div class="div-var" id="hershey-bar-1">
                    <p class="expansion-btn exp-hershey-1">Sweet <br> Siblings</p>
                  </div>
                  <div class="div-var without-x-borders" id="hershey-bar-2">
                    <p class="expansion-btn exp-hershey-2">Nutty <br> Friends</p>
                  </div>
                  <div class="div-var" id="hershey-bar-3">
                    <p class="expansion-btn exp-hershey-3">Trusted <br> Partners</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kisses-bg">
          <img class="hersheyBackgroundImage-bar" src="/images/Layer 10 1.png" />
        </div>
        <div class="kisses-bg">
          <img class="hershey-pip-bar" src="/images/Pip crumbs 2.png" />
        </div>
        <!-- card2 -->
        <div class="d-flex qns-1-bar">
          <div class="container">
            <div class="question-elements">
              <div class="row">
                <p class="qns-bar-2">I describe my sibling as</p>
              </div>
              <div class="row">
                <div class="options-row option-row-bars">
                  <div class="new-div-var" id="new-hershey-bar-1">
                    <p class="new-expansion-btn new-exp-hershey-1">Closet <br> Rockstar</p>
                  </div>
                  <div class="new-div-var without-x-borders" id="new-hershey-bar-2">
                    <p class="new-expansion-btn new-exp-hershey-2">Always in <br>FOMO</p>
                  </div>
                  <div class="new-div-var" id="new-hershey-bar-3">
                    <p class="new-expansion-btn new-exp-hershey-3">Ultimate <br>Foodie</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kisses-bg">
          <img class="hersheyBackgroundImageSection-bar-4" src="images/almond -doodle -bars 1.png" />
          <img class="hersheyBackgroundImageSection-bar-3" src="/images/Pip 1.png" />
        </div>
        <!-- card3 -->
        <div class="d-flex qns-1-bar">
          <div class="container">
            <div class="question-elements">
              <div class="row">
                <p class="qns-bar-2">We both vibe to</p>
              </div>
              <div class="row">
                <div class="options-row option-row-bars">
                  <div class="option-div" id="option-1">
                    <p class="option-btn option-btn-1">Music</p>
                  </div>
                  <div class="option-div without-x-borders" id="option-2">
                    <p class="option-btn option-btn-2">Street <br>food</p>
                  </div>
                  <div class="option-div" id="option-3">
                    <p class="option-btn option-btn-3">Gaming</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sketchy-lines">
          <img class="img1-bar" src="/images/elements --bars 2.png" />
        </div>
      </div>
    </div>
    
    <div class="d-flex justify-content-center ">
      <button class="nextQuestion-bar" id="nextQuestionid1">Next</button>
    </div>
    <div class="d-flex justify-content-start elements-bar3">
      <img class="img3-bar" src="/images/elements --bars 3.png" />
    </div>
    <div class="d-flex justify-content-start">
      <img class="bottom-image-bar" src="/images/bottom-pattern.png" />
    </div>
  </div>
<!-- ------------------------------------------exotic dark -->

<div class="window-exotic" id="thirdscreen-exotic">
  <div class="alert-check-questions-exotic invisible">
    <div class="alert-content">
      <div id="alertCloseexoticBtn" class="close-btn-alert">
        <img src="/images/close.png" alt="close">
      </div>
      <div class=" alert alert-warning" role="alert">
        <!-- <img class="question-alert-logo" src="/images/hersheyslogo.png" alt="hersheyslogo"> -->
        <h1 class="display-1 image-missing">\(o_o)/</h1>
        Please select an option for each question!
      </div>
    </div>
  </div>
  <div class="kisses-header">
    <div class="d-flex justify-content-center">
      <img class="gliter-with-group" src="/images/MicrosoftTeams-image (2).png"/>
    </div>
   <div class="exotic-content">
    <h3 class="knowYour">Help us to know Your</h3>
    <h3 class="sibling">sibling better</h3>
    <h6 class="text-white appropriate">Choose the most appropriates options</h6>
   </div>
    <div class="d-flex justify-content-start gliter-with-groups"><img src="/images/MicrosoftTeams-image (1).png"/></div>
  </div>
  <div class="header-rakhi-image">
    <img class="rakhi-kiss-image" src="/images/exotic-rakhi.png" />

  </div>
 
  <div class="kisses-bg"><img class="image-1-rc-exotic" src="/images/cut hed 2.png" />
  </div>

  <div class="relative-question-div">
    <div class="container hershey-exotic-div">   
  <div class="question-list">
    <div class="qns-exotic-1">
      <div class="question-elements">
          <div class="row">
              <p class="qns-2">My sibling and I are</p>
          </div>
          <div class="row">
              <div class="options-row">
                  <div class="exotic-dark d-flex" id="exotic-hershey-1">
                      <p class="expansion-btn exp-1">Berry Good <br>Friends</p>
                  </div>
                  <div class="exotic-dark d-flex" id="exotic-hershey-2">
                      <p class="expansion-btn exp-2">Nutty <br>Partners</p>
                  </div>
                  <div class="exotic-dark d-flex" id="exotic-hershey-3">
                      <p class="expansion-btn exp-3">Trusted <br>Confidantes</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="kisses-bg">
    <img class="hersheyBackgroundImage-exotic" src="/images/almond 1 4.png" />
    <img class="hersheyBackgroundImageSection-4-duplicate-exotic" src="/images/MicrosoftTeams-image (15) 1.png" />
  </div> 

  <div class="qns-exotic-1">
    <div class="question-elements">
      <div class="row">
        <p class="qns-2">If we get to spend a weekend together, it would be about</p>
    </div>
      <div class="row">
        <div class="options-row">
          <div class="exotic-div d-flex " id="exotic-dark-card2-1">
            <p class="exotic-expansion-btn exp-1">Wine & Chocolates at Home</p>
        </div>
        <div class="exotic-div d-flex " id="exotic-dark-card2-2">
            <p class="exotic-expansion-btn exp-2">Sundowners at <br>Beach Resort</p>
        </div>
        <div class="exotic-div d-flex " id="exotic-dark-card2-3">
            <p class="exotic-expansion-btn exp-3">Bollywood Music <br> Festival</p>
        </div>
        </div>
      </div>
    </div>
</div>
<div class="kisses-bg">
  <img class="hersheyBackgroundImageSection-4" src="/images/MicrosoftTeams-image (19) 1.png" />
  <img class="hersheyBackgroundImageSection-5" src="/images/almond 2 1.png" />
</div>  
<div class="kisses-bg">
  <img class="image-9-exotic" src="/images/almond 2 1.png" />
</div> 

<div class="qns-exotic-1">
    <div class="question-elements">
        <div class="row">
            <p class="qns-2">Things we usually do together</p>
        </div>
        <div class="row">
          <div class="options-row">
            <div class="sibling-bond-option" id="option-exotic-1">
              <p class="option-text">Discussing<br> family</p>
          </div>
          <div class="sibling-bond-option" id="option-exotic-2">
              <p class="option-text">Remembering<br> childhood days</p>
          </div>
          <div class="sibling-bond-option" id="option-exotic-3">
              <p class="option-text">Laughing at <br>Silly Jokes</p>
          </div>
          </div>
        </div>
    </div>
</div>
</div>
<div class="d-flex justify-content-end bottom-berries-img">
        
  <img class="img2-exotic" src="/images/MicrosoftTeams-image.png" />
</div>
<div class="hed-next-btn d-flex justify-content-center">
  <button class="nextQuestion" id="nextQuestionid2">next</button>
</div>
</div>
</div>
</div>


<!-- loading screen -->
<div id="loadingscreen" class="loading-screen load-kisses"> 
  <div class=" header d-flex justify-content-start">
    <div class=""><img id="loadingHeader" class="hersheylogo" src="/images/hersheys-kisses-logo 1.png" /></div>
  </div>
  <div class="loading-media">
    <div class="video-placeholder">

      <div class="loading-video">
        <h2 style="position: absolute; top: 0px;" class="browser-is" id="browserIs"></h2>
        <img class="bars-casacade-loading" src="/images/bar-cascade.png" alt="bar-cascade">
        <video id="kissesloadingvid" class="kisses-loading-video"  muted playsinline webkit-playsinline></video>
        <video id="exoticloadingvid" class="kisses-loading-video"  muted playsinline webkit-playsinline></video>

      </div>

      </div>
    </div>
    <div class="loading-spinner">
      <svg class="spinner-border spinner-ns" xmlns="http://www.w3.org/2000/svg" width="39" height="42"
        viewBox="0 0 39 42" fill="none">
        <path
          d="M21.25 39.9032C11.0327 39.9032 2.75 31.6205 2.75 21.4032C2.75 11.1859 11.0327 2.9032 21.25 2.9032C28.0798 2.9032 34.0452 6.6042 37.25 12.1101"
          stroke="#291213" stroke-width="4" />
        <path
          d="M21.25 39.9032C11.0327 39.9032 2.75 31.6205 2.75 21.4032C2.75 11.1859 11.0327 2.9032 21.25 2.9032C28.0798 2.9032 34.0452 6.6042 37.25 12.1101"
          stroke="url(#paint0_linear_601_4750)" stroke-width="4" />
        <defs>
          <linearGradient id="paint0_linear_601_4750" x1="3.15469" y1="2.9032" x2="45.2571" y2="19.1382"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#DFBC66" />
            <stop offset="0.276042" stop-color="#F7EF8A" />
            <stop offset="0.484375" stop-color="#FFF4C5" />
            <stop offset="0.697917" stop-color="#D2AC47" />
            <stop offset="1" stop-color="#EDC967" />
          </linearGradient>
        </defs>
      </svg>
      <!-- <div class="spinner-border spinner-ns" role="status">
      <span class="sr-only">Loading...</span>
    </div> -->
  </div>
  <div class="loading-message">
    <h4><span>Your custom special surprise is loading...</span>🤩</h4>
  </div>
</div>
<div id="receiverfirstscreen" class="receiver-wrapper">
  <div class="receiver-div"> 
      <img class="hanging-decoration-top" src="/images/hanging-decoration.png" alt="hanging-decoration.png">
    <div class="receiver-div-content">
      <div class="receiver-kiss-cascade-drop">
        <img src="/images/receiver-kiss-cascade-drop.png" alt="receiver-kiss-cascade-drop">
      </div>
      <img class="recevier-hershey-pack" src="/images/recevier-hershey-pack.png" alt="recevier-hershey-pack">
      <h3>
        You have received a
      </h3>
      <h1>custom surprise</h1>
      <h3>
        from your sibling to make <span>Rakshabandhan special</span>
      </h3>
    </div>

      <img class="flower-combo-4" src="/images/flower-combo-3.png" alt="flower-combo-4.png">
    <div class="receiver-div-button">
      <button id="receiverbtn">view surprise</button>
    </div>
    <img class="flower-combo-3" src="/images/flower-combo-3.png" alt="flower-combo-3.png">
  </div>
</div>

<div id="uploadingDiv"  class="alert alert-success">
  <strong>Success!</strong> Indicates a successful or positive action.
</div>

<!-- kisses message window -->

<div id="messagenote" class="message-wrapper kisses-message">
  <div class="close-icon">
    <img id="msgclosebtn" class="close-message" src="/images/close.png" alt="close.png">
  </div>
  <div class="row">
    <div class="message-header">
      <h3>Dear</h3>
      <div class="dynamic-name">
        <h2 id="#hereGoesID" class="receiver-name-on-message">Dynamic Name</h2><h2 class="receiver-name-on-message">,</h2>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="message-body">
      <div class="dynamic-note">
        <p id="completenote">Our bond can be described as Sweet Troublemakers and that makes it special. Your Caring nature makes you a Super Sibling. You are the best I could ask for and I am sure with your crazy and determined attitude, all your dreams will turn into reality.<br>
          This is my way of expressing what you mean to me. And for moments
          <span>when words fall short,</span> </p>
      </div>
    </div>
    <div class="dynamic-img">
      <img src="/images/say it with a kiss (brown).png" alt="say-it-with-a-kiss.png">
    </div>
  </div>
</div>

<!-- kisses message window end here -->




  <div id="tap-to-place">Tap to Place</div>
  <div id="arscreen">
    <!-- <div id="headerdiv" class=" header">
        <img class="hersheylogo" id="headerlogo" src="/images/hersheyslogo.png" />
      </div> -->
    <!-- <div id="headerdiv"><img id="headerlogo" src="/images/hersheyslogo.png" /></div> -->
    <!-- <div id="headerdiv">
      <img id="headerlogo" src="/images/hersheyslogo.png" alt="Paris">
    </div> -->
    <div class="preview-text">
      <h3>preview</h3>
    </div>
    <div>
      <div id="sharepopupdiv">
        <!-- <img id="closebtnsharepopup" src="/images/closebtnsharepopup.png"> -->
        Win exciting prizes by sharing on Instagram. Tag your sibling & @hersheysindia
      </div>
  
    </div>
    
    <div id="tapOnEnvelope">
      Tap on envelope
    </div>
    <div id="recordparentdiv">
      <div id="recordbannerdiv">Record & save</div>
      <div class="arrow-down"></div>
    </div>
    
    <div id="share">
      <div id="reloaddiv"><img id="reload" src="/images/reload.png" /></div>
      <div id="shutter"><img id="capture" src="/images/shutter-button-start.png" /></div>
      <!-- <div id="shutter"><img id="capture" src="/images/shutter-button-stop.png" /></div> -->
      <p>Send</p>
    </div>
  </div>

  <!-- <div id="capture1 capture2 d-flex justify-content-start">
  
    <div class=""><img class="hersheylogo" src="/images/hersheyslogo.png" /></div>

   
 </div> -->
  <!-- <div id="sharebtn">
  
 </div>
 <div id="reload">
  
 </div> -->

<!-- ----------------------------------------- -->




<div id="alertMessageForUpload" style="display: none;" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<!-- ---------------------------------/ -->
  <!-- Some UI for the user to tap to indicate they're happy with the placement -->
  <div id="zappar-placement-ui">Tap here to place the object</div>
  <!-- <img src="<%= imageUrl %>" alt="Uploaded Image"> -->

  <a-scene id="scenediv" swap-texture renderer="antialias: true;
  colorManagement: true;
  sortObjects: true;
  physicallyCorrectLights: true;
  maxCanvasWidth: 1920;
  maxCanvasHeight: 1920;" gesture-detector>
    <!-- <canvas id="div">

  </canvas> -->
    <a-assets>

      <a-asset-item id="kissesmodel" src="/models/kisses .glb"></a-asset-item>
      <a-asset-item id="barmodel" src="/models/bars final.glb"></a-asset-item>
      <a-asset-item id="exoticmodel" src="/models/exotic darkv13.glb"></a-asset-item>
    </a-assets>
    <!-- Ask user for camera permissions, display some text if permission is denied -->
    <a-entity id="permissions"></a-entity>
    <!-- shows a full-page dialog that informs the user they're using an unsupported browser -->
    <a-entity zappar-compatibility-ui id="compatibility"></a-entity>
    <!-- <canvas id="div"></canvas> -->
    <a-camera id="camera" position="0 8 8" raycaster="objects: .cantap" cursor="
    fuse: false;
    rayOrigin: mouse;" zappar-camera />

    <!-- Setup our instant tracker and start it in placement mode so the user can -->
    <!-- choose a location for the object -->
    <a-entity zappar-instant="placement-mode: true" id="instant-tracker">
      <a-entity id="modelname" class="cantap" visible="true" scale="0.1 0.1 0.1" position="0 -1 0"
        gesture-handler="minScale: 0.25; maxScale: 10">

        <a-box id="notebox" depth="2" height="7" width="10" position="-0.86459 12.96375 3.66375" material="" geometry=""
          visible="false"></a-box>
      </a-entity>
      <!-- Include a 3D model inside our instant tracker -->
      <!-- <a-entity id="australiacont" gesture-handler gltf-model="url(assets/kisses .glb)" scale="0.1 0.1 0.1"  animation-mixer="clip: Animation; loop: repeat"></a-entity> -->
      <a-entity scale="7 7 7" light="type: directional;
          intensity: 0.8;
     shadowMapHeight:2048;
       shadowMapWidth:2048;
       shadowCameraTop: 10;
             target: #australiacont;" position="17.85 2.75 0.30" shadow>
      </a-entity>
      <a-entity scale="7 7 7" light="type: directional;
     intensity: 0.8;
    shadowMapHeight:2048;
    shadowMapWidth:2048;
    shadowCameraTop: 10;
        target: #australiacont;" position="-4.6 2.75 1.24" shadow>
      </a-entity>
      <a-entity scale="7 7 7" light="type: directional;
    intensity: 0.8;
    shadowMapHeight:2048;
    shadowMapWidth:2048;
    shadowCameraTop: 10;
       target: #australiacont;" position="3.43 2.68 -0.62" shadow>
      </a-entity>
      <a-entity scale="7 7 7" light="type: directional;
    intensity: 0.8;
    shadowMapHeight:2048;
    shadowMapWidth:2048;
    shadowCameraTop: 10;
       target: #australiacont;" position="0.52 2.62 12.75" shadow>
      </a-entity>
      <a-light type="ambient" intensity="2"></a-light>
    </a-entity>

  </a-scene>
  <%- include('./includes/footer') %>
  <script src="main-bundled.js"></script>

  <script>
    let kissesLoading = document.querySelector(".kisses-loading-video")

    if (isChrome) {
      //kisses
      kissesLoading.src = "/videos/kisses_VP9.webm"
      kissesLoading.type = "video/webm; codecs=vp9"
      kissesLoading.controls = false
      kissesLoading.play()
       //exotic hed
      exoticloadingvid.src = "/videos/hed-loading_VP9.webm"
      exoticloadingvid.type = "video/webm; codecs=vp9"
      exoticloadingvid.controls = false
      exoticloadingvid.play()
    } else if (isIOS) {
       //kisses
      kissesLoading.src = "/videos/kisses-mov.mov"
      kissesLoading.type = "video/mp4; codecs=hev1"
      kissesLoading.controls = false
      kissesLoading.play()
      //exotic hed
      exoticloadingvid.src = "/videos/hed-loading.mov"
      exoticloadingvid.type = "video/mp4; codecs=hev1"
      exoticloadingvid.controls = false
      exoticloadingvid.play()
    } else {
      document.getElementById("browserIs").innerHTML = "Broweser doesn't support video"
    }

// -----------------------------------------
// document.addEventListener('DOMContentLoaded', function() {
//   const uploadBtn = document.getElementById('uploadbtn');
//   const submitBtn = document.getElementById('nextbtn');

//   function checkFileSelection(event) {
//     if (uploadBtn.files.length === 0) {
//       event.preventDefault(); 
//       alert('Please select a file before submitting.');
      
//     }
//   }

//   submitBtn.addEventListener('click', checkFileSelection);
// });

// document.getElementById("uploadbtn").addEventListener("click", function() {
//             var fileIdElement = document.getElementById("changeFileName");
//             var newFileName = "newfilename.txt"; // Replace with your desired new file name
//             fileIdElement.innerHTML = newFileName;
//         });

     
  </script>