<%- include('./includes/header') %>

  <div id="firstscreen">
    <div class=" header d-flex justify-content-center">
      <div class=""><img class="hersheylogo" src="/images/hersheyslogo.png" /></div>
    </div>
    <div class="landing-page-ns">
      <div class="d-flex justify-content-between">
        <div><img class="landing-page-leftimage" src="/images/Asset 24.png" /></div>
        <div class="d-flex justify-content-start layer-ns">
          <div><img src="/images/Layer 1 (2).png"/></div>
          <div><img src="/images/Layer 1 (1).png"/></div>
        </div>
        <div><img class="landing-page-rakhi" src="/images/rakhi.png" /></div>
      </div>
      <div class="landing-page-ns-position">
        <div class="d-flex justify-content-start">
          <h6 class="landing-page-make">Make</h6>
        </div>
        <div>
          <div class="d-flex justify-content-start">
            <h1 class="landing-page-rakshabandhan">Rakshabandhan</h1>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <h4 class="landing-page-sibling">special for your sibling!</h4>
        </div>
      </div>
      <div class="d-flex justify-content-end shine">
        <img src="/images/shine and glitter.png" />
      </div>
      <div class="d-flex justify-content-center">
        <div class="send-surprise-message " id="sendgift">
          <h3 class="heading-div">Send surprise message</h3>
          <span class="text-landing-page">I want to create a special surprise for my sibling to gift along with delicious HERSHEY’S
            chocolates</span>
        </div>
       
      </div>
      <div class="d-flex justify-content-end">
        <img class="flower2" src="/images/flower-combo-2.png"/> 
      </div>
      <div class="d-flex justify-content-center " id="sendthanks">
        <div class="send-thankyounote" id="sendthankyou">
          <h3 class="heading-div">Send thank you note</h3>
          <span class="text-landing-page">I have received delicious HERSHEY’S Chocolates from my sibling and wish to thank them</span>
        </div>
      </div>
      <div class="d-flex justify-content-start"> <img class="flower" src="/images/flower-combo.png"/></div>

      <div class="d-flex justify-content-between">
        <div><img src="/images/Shine@1920x 3.png"/></div>
        <!-- <div> <img src="/images/flower-combo-2.png"/></div> -->
        <div><img src="/images/Asset 25.png"/></div>
      </div>
    </div>

   
  </div>

  </div>

  <!-- //second screen -->
  <div class="wrapper" id="secondscreen">

    <div class=" header d-flex justify-content-center">
      <div class=""><img class="hersheylogo" src="/images/hersheyslogo.png" /></div>
    </div>
    <div class="orange-wrapper">
      <div class="username-section">
        <p class="surprise-heading">Sending surprise to</p>
        <input id="siblingname" type="text" placeholder=" Sibling’s Name" class="userName" />

      </div>
      <div class="blue-wrapper">
        <h2 class="title-ns">I have</h2>
        <div class="owl-carousel owl-theme d-flex justify-content-center">
          <div class="item">
            <h4><img class="carosel-images" id="hoverChange" src="/images/kisses.png" /></h4>
          </div>
          <div class="item">
            <h4><img class="carosel-images" id="hoverhershey" src="/images/hershey.png" /></h4>
          </div>
          <div class="item">
            <h4><img class="carosel-images" id="hoverexotic" src="/images/exotic.png" /></h4>
          </div>
        </div>
      </div>
      <div class="upload-section">
        <div class=" uploader d-flex justify-content-start">

          <div id="imagediv"><img id="galleryimg" class="photo-frame" src="/images/photoframe.png" /></div>
          <div class="photo">
            <label for="uploadbtn" class="btn">UPLOAD PHOTO</label>
            <input type="file" style="display: none;" id="uploadbtn" accept="image/*">
          </div>
        </div>
      </div>
      <hr class="breakline" />
      <div class="d-flex justify-content-center">
        <button id="nextbtn" class="next-button">Next</button>
      </div>
    </div>


  </div>


  <!-- ------------------------------------------------ hershey-kisses-->
  <div class="window-kisses" id="thirdscreen">
    <div class="d-flex justify-content-between">
      <h3 class="knowYour">Help us to know Your</h3>
      <img class="rakhi-kiss-image" src="/images/rakhi.png" />
    </div>
    <h3 class="sibling">sibling better</h3>
    <h6 class="text-white appropriate">Choose the most appropriates options</h6>
    <div class="d-flex justify-content-end image1"> <img src="/images/image1.png" />
    </div>


    <div class="outerDiv">
      <div class="d-flex  qns-1">
      <div class="container">
        <div class="row">
          <p class="qns-2">A word to describe our sibling bond</p>
        </div>
        <div class="row">
          <div class="options-row">
            <div class="normal-div d-flex" id="div-1">
              <p class="expansion-btn exp-1">Sweet <br>Troublemakers</p>
            </div>
            <div class="normal-div d-flex" id="div-2">
              <p class="expansion-btn exp-2">Partners in <br>crimes</p>
            </div>
            <div class="normal-div d-flex" id="div-3">
              <p class="expansion-btn exp-3">Top screet <br>Keepers</p>
            </div>
          </div>  
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-start sunrise">
      <img class="hersheyBackgroundImage" src="/images/image3.png" />
    </div>
    <div class="d-flex qns-1">
      
      <div class="container">
        <div class="row">
          <p class="qns-2">My sibling's superpower is</p>
        </div>
        <div class="row">
          <div class="options-row">
            <div class="custom-div d-flex" id="custom-div-1">
              <p class="custom-expansion-btn exp-1">Super <br> caring</p>
            </div>
            <div class="custom-div d-flex" id="custom-div-2">
              <p class="custom-expansion-btn exp-2">Delightfully <br> annoying</p>
            </div>
            <div class="custom-div d-flex" id="custom-div-3">
              <p class="custom-expansion-btn exp-3">Giving mature <br> advices</p>
            </div>
          </div>
        </div>
      </div> 
    </div>
    
    <div class="d-flex justify-content-end">
      <img class="hersheyBackgroundImageSection-3" src="/images/image9.png" />

      </div>
      <div class="d-flex justify-content-start">
        <img class="hersheyBackgroundImageSection-4" src="/images/image5.png" />
        <img class="hersheyBackgroundImageSection-5" src="/images/image6.png" />


    </div>
    <div class="d-flex qns-1">
      <div class="container">
        <div class="row">
          <p class="qns-2">My sibling tends to be</p>
        </div>
        <div class="row">
          <div class="options-row">
            <div class="custom-option custom-normal-option d-flex" id="custom-option-1">
              <p class="custom-option-btn custom-btn-1">Crazy</p>
            </div>
            <div class="custom-option custom-normal-option d-flex" id="custom-option-2">
              <p class="custom-option-btn custom-btn-2">Realistic</p>
            </div>
            <div class="custom-option custom-normal-option d-flex" id="custom-option-3">
              <p class="custom-option-btn custom-btn-3">Determined</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between hersheyBackgroundImageSection-6">
      <img class="img1" src="/images/image8.png"/>
      <img class="img2" src="/images/image7.png"/>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button class="nextQuestion" id="nextQuestionid">next</button>
  </div>
  </div>

  </div>
  <!-----------------------------------------hershey bar -->
<div class="windows-bar" id="thirdscreen-bar">
  <div class="top-banner-ns">
    <img class="top-image-bar" src="/images/top-pattern.png" />
  </div>

  <div class="hanging-circles">
    <img src="/images/hanging-circle-shapes.png" alt="">
  </div>

  <div class="bar-heading">
      <h3 class="knowYour-bar">Help us to know Your</h3>
      <h1 class="sibling-bar">sibling better</h1>
    <div class="d-flex">
      <h6 class="appropriate-bar">choose the most appropriates options</h6>
    </div>
  </div>

    <div class="d-flex justify-content-between">
      <img class="elements-bar" src="/images/elements --bars 1.png" />
      <img class="heart-bar" src="/images/bars -heart 1.png" />
    </div>
    <div class="outerDiv-bar">
      <!-- card1 -->

      <div class="d-flex qns-1-bar">
        <div class="container">
          <p class="qns-bar-2">Our sibling bond could be described as?</p>
          <div class="div-var d-flex justify-content-center" id="hershey-bar-1">
            <p class="expansion-btn exp-hershey-1">Sweet Partners</p>
          </div>
          <div class="div-var d-flex justify-content-center" id="hershey-bar-2">
            <p class="expansion-btn exp-hershey-2">Chocolate Allies</p>
          </div>
          <div class="div-var d-flex justify-content-center" id="hershey-bar-3">
            <p class="expansion-btn exp-hershey-3">Cocoa Champs</p>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-start sunrise-bar">
        <img class="hersheyBackgroundImage-bar" src="/images/Layer 10 1.png" />
      </div>
      <div class="d-flex justify-content-end">
        <img class="hershey-pip-bar" src="/images/Pip crumbs 2.png" />
      </div>
      <!-- card2 -->
      <div class="d-flex qns-1-bar">
        <div class="container">
          <p class="qns-bar-2">Our sibling bond could be described as?</p>
          <div class="new-div-var d-flex justify-content-center" id="new-hershey-bar-1">
            <p class="new-expansion-btn new-exp-hershey-1">Sweet Partners</p>
          </div>
          <div class="new-div-var d-flex justify-content-center" id="new-hershey-bar-2">
            <p class="new-expansion-btn new-exp-hershey-2">Chocolate Allies</p>
          </div>
          <div class="new-div-var d-flex justify-content-center" id="new-hershey-bar-3">
            <p class="new-expansion-btn new-exp-hershey-3">Cocoa Champs</p>
          </div>
        </div>
      </div>

      <!-- --------------------- -->
      <!-- <div class="d-flex qns-1-bar">
  <div class="container">
    <p class="qns-bar-2">Our sibling bond could be described as?</p>
    <div class="div-var d-flex justify-content-center" id="hershey-bar-1">
      <p class="expansion-btn exp-hershey-1">Sweet Partners</p>
    </div>
    <div class="div-var d-flex justify-content-center" id="hershey-bar-2">
      <p class="expansion-btn exp-hershey-2">Chocolate Allies</p>
    </div>
    <div class="div-var d-flex justify-content-center" id="hershey-bar-3">
      <p class="expansion-btn exp-hershey-3">Cocoa Champs</p>
    </div>
  </div>
</div> -->
      <!-- <div class="d-flex qns-bar-3">
  
  <div class="container">
    <p class="qns-bar-2">Our sibling bond could be described as?</p>
    <div class="custom-div d-flex justify-content-center" id="custom-div-1">
      <p class="custom-expansion-btn exp-1">sweet troublemaker</p>
    </div>
    <div class="custom-div d-flex justify-content-center" id="custom-div-2">
      <p class="custom-expansion-btn exp-2">Partners in crimes</p>
    </div>
    <div class="custom-div d-flex justify-content-center" id="custom-div-3">
      <p class="custom-expansion-btn exp-3">Top screet Keepers</p>
    </div>
  </div> 
</div> -->
      <div class="d-flex justify-content-between">
        <img class="hersheyBackgroundImageSection-bar-4" src="images/almond -doodle -bars 1.png" />
        <img class="hersheyBackgroundImageSection-bar-3" src="/images/Pip 1.png" />



      </div>

      <!-- card3 -->
      <div class="d-flex qns-1-bar">
        <div class="container">
          <p class="qns-bar-2">Our sibling bond could be described as?</p>
          <div class="option-div d-flex justify-content-center" id="option-1">
            <p class="option-btn option-btn-1">Sweet Partners</p>
          </div>
          <div class="option-div d-flex justify-content-center" id="option-2">
            <p class="option-btn option-btn-2">Chocolate Allies</p>
          </div>
          <div class="option-div d-flex justify-content-center" id="option-3">
            <p class="option-btn option-btn-3">Cocoa Champs</p>
          </div>
        </div>
      </div>

      <!-- <div class="d-flex qns-1-bar">
  <div class="container">
    <p class="qns-bar-2">Our sibling bond could be described as?</p>
    <div class="div-var d-flex justify-content-center" id="hershey-bar-1">
      <p class="expansion-btn exp-hershey-1">Sweet Partners</p>
    </div>
    <div class="div-var d-flex justify-content-center" id="hershey-bar-2">
      <p class="expansion-btn exp-hershey-2">Chocolate Allies</p>
    </div>
    <div class="div-var d-flex justify-content-center" id="hershey-bar-3">
      <p class="expansion-btn exp-hershey-3">Cocoa Champs</p>
    </div>
  </div>
</div> -->
      <!-- <div class="d-flex qns-bar-3">
  
  
  <div class="container">
    <p class="qns-bar-2">Our sibling bond could be described as?</p>
    <div class="custom-option custom-normal-option d-flex justify-content-center" id="custom-option-1">
      <p class="custom-option-btn custom-btn-1">Sweet troublemaker</p>
    </div>
    <div class="custom-option custom-normal-option d-flex justify-content-center" id="custom-option-2">
      <p class="custom-option-btn custom-btn-2">Partners in crimes</p>
    </div>
    <div class="custom-option custom-normal-option d-flex justify-content-center" id="custom-option-3">
      <p class="custom-option-btn custom-btn-3">Top secret keepers</p>
    </div>
  </div>
</div> -->
<div class="sketchy-lines">
  <img class="img1-bar" src="/images/elements --bars 2.png"/>
</div>
</div>
    <div class="d-flex justify-content-center ">
      <button class="nextQuestion-bar" id="nextQuestionid1">Next</button>
    </div>
    <div class="d-flex justify-content-start elements-bar3">
      <img class="img3-bar" src="/images/elements --bars 3.png" />
    </div>
    <div class="d-flex justify-content-start">
      <img class="bottom-image-bar" src="/images/bottom-pattern.png" />
    </div>
  </div>





  <!-- <div class="outerDiv">-------------------------------------------------------------------------------------------

      <div class="d-flex  qns-1">
      <div class="container">
        <p class="qns-2">Our sibling bond could be described as?</p>
        <div class="normal-div d-flex justify-content-center" id="div-1">
          <p class="expansion-btn exp-1">sweet troublemaker</p>
        </div>
        <div class="normal-div d-flex justify-content-center" id="div-2">
          <p class="expansion-btn exp-2">Partners in crimes</p>
        </div>
        <div class="normal-div d-flex justify-content-center" id="div-3">
          <p class="expansion-btn exp-3">Top screet Keepers</p>
        </div>
      </div>
     
    </div>
    <div class="d-flex justify-content-start sunrise">
      <img class="hersheyBackgroundImage" src="/images/image3.png" />
    </div>
    <div class="d-flex qns-1">
      
      <div class="container">
        <p class="qns-2">Our sibling bond could be described as?</p>
        <div class="custom-div d-flex justify-content-center" id="custom-div-1">
          <p class="custom-expansion-btn exp-1">sweet troublemaker</p>
        </div>
        <div class="custom-div d-flex justify-content-center" id="custom-div-2">
          <p class="custom-expansion-btn exp-2">Partners in crimes</p>
        </div>
        <div class="custom-div d-flex justify-content-center" id="custom-div-3">
          <p class="custom-expansion-btn exp-3">Top screet Keepers</p>
        </div>
      </div> 
    </div>
    
    <div class="d-flex justify-content-end">
      <img class="hersheyBackgroundImageSection-3" src="/images/image9.png" />

    </div>
    <div class="d-flex justify-content-start">
      <img class="hersheyBackgroundImageSection-4" src="/images/image5.png" />
      <img class="hersheyBackgroundImageSection-5" src="/images/image6.png" />


    </div>
    <div class="d-flex qns-3">
      
      
      <div class="container">
        <p class="qns-2">Our sibling bond could be described as?</p>
        <div class="custom-option custom-normal-option d-flex justify-content-center" id="custom-option-1">
          <p class="custom-option-btn custom-btn-1">Sweet troublemaker</p>
        </div>
        <div class="custom-option custom-normal-option d-flex justify-content-center" id="custom-option-2">
          <p class="custom-option-btn custom-btn-2">Partners in crimes</p>
        </div>
        <div class="custom-option custom-normal-option d-flex justify-content-center" id="custom-option-3">
          <p class="custom-option-btn custom-btn-3">Top secret keepers</p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between hersheyBackgroundImageSection-6">
      <img class="img1" src="/images/image8.png"/>
      <img class="img2" src="/images/image7.png"/>
    </div>
  </div> -->
  <!-- <div class="d-flex justify-content-center ">
    <button class="nextQuestion" id="nextQuestionid">next</button>
  </div>
  </div> -->









  <!-- ----------------------------------------------------------hershey bar -->
  <!-- <div class="window-bars" id="thirdscreen-hersheybar">
  <div class="d-flex justify-content-between">
    <h3 class="knowYour">Help us to know Your</h3>
    <img src="/images/rakhi.png" />
  </div>
</div> -->
  <!-- cards------------------------------------- -->
  <!-- <div class="window-kisses" id="thirdscreen">
    <div class="d-flex justify-content-between">
      <h3 class="knowYour">Help us to know Your</h3>
      <img src="/images/rakhi.png" />
    </div>
    <h3 class="sibling">sibling better</h3>
    <h6 class="text-white appropriate">Choose the most appropriates options</h6>
    <div class="d-flex justify-content-end">
      <img src="/images/image1.png" />
    </div>
    <div class="outerDiv">

      <div class="d-flex  qns-1">
      <div class="container">
        <p class="qns-2">Our sibling bond could be described as?</p>
        <div class="normal-div d-flex justify-content-center" id="div-1">
          <p class="expansion-btn exp-1">sweet troublemaker</p>
        </div>
        <div class="normal-div d-flex justify-content-center" id="div-2">
          <p class="expansion-btn exp-2">Partners in crimes</p>
        </div>
        <div class="normal-div d-flex justify-content-center" id="div-3">
          <p class="expansion-btn exp-3">Top screet Keepers</p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <img class="hersheyBackgroundImageSection-2" src="/images/image6.png" />
      <img class="hersheyBackgroundImageSection-1" src="/images/image5.png" />

    </div>
    <div class="d-flex justify-content-start sunrise">
      <img class="hersheyBackgroundImage" src="/images/image3.png" />
    </div>

    <div class="d-flex qns-1">
      <div class="container">
        <p class="qns-2">Our sibling bond could be described as?</p>
        <div class="custom-div d-flex justify-content-center" id="custom-div-1">
          <p class="custom-expansion-btn exp-1">sweet troublemaker</p>
        </div>
        <div class="custom-div d-flex justify-content-center" id="custom-div-2">
          <p class="custom-expansion-btn exp-2">Partners in crimes</p>
        </div>
        <div class="custom-div d-flex justify-content-center" id="custom-div-3">
          <p class="custom-expansion-btn exp-3">Top screet Keepers</p>
        </div>
      </div>
    </div>
    
    
    <div class="d-flex justify-content-end">
      <img class="hersheyBackgroundImageSection-3" src="/images/image9.png" />

    </div>
    <div class="d-flex justify-content-start">
      <img class="hersheyBackgroundImageSection-4" src="/images/image5.png" />
      <img class="hersheyBackgroundImageSection-5" src="/images/image6.png" />


    </div>
    <div class="d-flex qns-3">
      <div class="container">
        <p class="qns-2">Our sibling bond could be described as?</p>
        <div class="custom-option custom-normal-option d-flex justify-content-center" id="custom-option-1">
          <p class="custom-option-btn custom-btn-1">Sweet troublemaker</p>
        </div>
        <div class="custom-option custom-normal-option d-flex justify-content-center" id="custom-option-2">
          <p class="custom-option-btn custom-btn-2">Partners in crimes</p>
        </div>
        <div class="custom-option custom-normal-option d-flex justify-content-center" id="custom-option-3">
          <p class="custom-option-btn custom-btn-3">Top secret keepers</p>
        </div>
      </div>
    </div>
    
   
    <div class="d-flex justify-content-between hersheyBackgroundImageSection-6">
      <img class="img1" src="/images/image8.png"/>
      <img class="img2" src="/images/image7.png"/>
    </div>
  </div>
  <div class="d-flex justify-content-center nextquecl">
    <button class="nextQuestion" id="nextQuestionid">next</button>
  </div>
  </div> -->
 
  <div id="tap-to-place">Tap to Place</div> 
  <div id="arscreen" >
    <!-- <div id="headerdiv" class=" header">
      <img class="hersheylogo" id="headerlogo" src="/images/hersheyslogo.png" />
    </div> -->
    <!-- <div id="headerdiv"><img id="headerlogo" src="/images/hersheyslogo.png" /></div> -->
    <div id="headerdiv">
      <img id="headerlogo"  src="/images/hersheyslogo.png" alt="Paris" >
      </div>
    <div id="sharepopupdiv">
      <img id="closebtnsharepopup" src="/images/closebtnsharepopup.png" />
      <img id="sharepopup" src="/images/share-pop-up.png" />
    </div>
    <div id="reloaddiv"><img id="reload" src="/images/reload.png" /></div>
    <div id="recordbannerdiv"><img id="recordbanner" src="/images/record-banner.png" /></div>
    <div id="shutter"><img id="capture" src="/images/shutter-button.png" /></div>
    <div id="share"><img id="sharebtn" src="/images/sharebutton.png" /></div>
  </div>

  <!-- <div id="capture1 capture2 d-flex justify-content-start">
  
    <div class=""><img class="hersheylogo" src="/images/hersheyslogo.png" /></div>

   
 </div> -->
  <!-- <div id="sharebtn">
  
 </div>
 <div id="reload">
  
 </div> -->


  <!-- Some UI for the user to tap to indicate they're happy with the placement -->
  <div id="zappar-placement-ui">Tap here to place the object</div>


  <a-scene id="scenediv" swap-texture renderer="antialias: true;
  colorManagement: true;
  sortObjects: true;
  physicallyCorrectLights: true;
  maxCanvasWidth: 1920;
  maxCanvasHeight: 1920;" gesture-detector>
    <!-- <canvas id="div">

  </canvas> -->
    <a-assets>

      <a-asset-item id="tree" src="/models/kisses .glb"></a-asset-item>
    </a-assets>
    <!-- Ask user for camera permissions, display some text if permission is denied -->
    <a-entity id="permissions"></a-entity>
    <!-- shows a full-page dialog that informs the user they're using an unsupported browser -->
    <a-entity zappar-compatibility-ui id="compatibility"></a-entity>
    <!-- <canvas id="div"></canvas> -->
    <a-camera id="camera" position="0 8 8" raycaster="objects: .cantap" cursor="
    fuse: false;
    rayOrigin: mouse;" zappar-camera />

    <!-- Setup our instant tracker and start it in placement mode so the user can -->
    <!-- choose a location for the object -->
    <a-entity zappar-instant="placement-mode: true" id="instant-tracker" >
      <a-entity id="modelname"  class="cantap" visible="true" scale="0.1 0.1 0.1" position="0 -1 0"
         gesture-handler="minScale: 0.25; maxScale: 10" >
        
         <a-box id="notebox"  depth="2" height="7" width="10" position="-0.86459 12.96375 0" material="" geometry="" class="cantap" visible="false"></a-box>
      </a-entity>
      <!-- Include a 3D model inside our instant tracker -->
      <!-- <a-entity id="australiacont" gesture-handler gltf-model="url(assets/kisses .glb)" scale="0.1 0.1 0.1"  animation-mixer="clip: Animation; loop: repeat"></a-entity> -->
      <a-entity scale="7 7 7" light="type: directional;
          intensity: 0.8;
     shadowMapHeight:2048;
       shadowMapWidth:2048;
       shadowCameraTop: 10;
             target: #australiacont;" position="17.85 2.75 0.30" shadow>
      </a-entity>
      <a-entity scale="7 7 7" light="type: directional;
     intensity: 0.8;
    shadowMapHeight:2048;
    shadowMapWidth:2048;
    shadowCameraTop: 10;
        target: #australiacont;" position="-4.6 2.75 1.24" shadow>
      </a-entity>
      <a-entity scale="7 7 7" light="type: directional;
    intensity: 0.8;
    shadowMapHeight:2048;
    shadowMapWidth:2048;
    shadowCameraTop: 10;
       target: #australiacont;" position="3.43 2.68 -0.62" shadow>
      </a-entity>
      <a-entity scale="7 7 7" light="type: directional;
    intensity: 0.8;
    shadowMapHeight:2048;
    shadowMapWidth:2048;
    shadowCameraTop: 10;
       target: #australiacont;" position="0.52 2.62 12.75" shadow>
      </a-entity>
      <a-light type="ambient" intensity="2"></a-light>
    </a-entity>

  </a-scene>

  <%- include('./includes/footer') %>