<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sample test react ejs</title>
    <!-- css only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/my-custom.css">
</head>
<body>
    <div id="app"></div>
    <div class="ejs-block">
        <h4>this value if from ejs</h4>
        <!-- <form action="/add-image" method="POST">
            <input type="text" name="text">
            <input type="submit" value="submit">
        </form> -->
        <p>value is <%- value %></p>
    </div>

    <script src="/main.js"></script>
</body>
</html>