<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>

<div class="start-screen">
        <div class="col-xs-12 col-md-8 col-sm-10">
            <div class="row">
                <div class="ar-example-video">
                    <video src="assets/videos/milkybar_affirmation_pack_video.mp4" autoplay muted ></video>
                </div>
                <div id="enterBtn" class="enter-button">
                    <!-- <h1>Lorem ipsum dolor sit.</h1> -->
                    <button>Scroll Down</button>
                </div> 
            </div>
        </div>
</div>

<div class="movie">
    <div class="bg">
        <!-- <img src="assets/images/bg-image-fifth.png" alt="">
        <img src="assets/images/bg-image-third.png" alt=""> -->
        <img src="assets/images/scroll-down-image.png" alt="">
    </div>

    <div class="story">
        <div class="step-2-content">
            <div class="step-2-inner">
                <video src="assets/videos/pexels-google-deepmind.webm" autoplay muted loop></video>
                <!-- <img src="assets/images/bg-image-base.png" alt=""> -->
            </div>
        </div>
        <div class="story-content">
            <p>You're not just a <span>brand, &</span><br><span>Augmented Reality</span><br> isn’t just a buzzword.</p>
        </div>
    </div>
    <div class="actor">
        
        <ul>
            <li>
                <div class="new-age-content">
                    <div class="age-content-inner">
                        <img class="music-player" src="/assets/images/music-player-content.png" alt="">
                        <img class="news-article" src="/assets/images/news-article.png" alt="">
                        <img class="video-player" src="/assets/images/ar-video-content.png" alt="new-age-content">
                        <img class="product-scan" src="/assets/images/product-scan.png" alt="">
                        <img class="content-img" src="/assets/images/step-3-img-content.png" alt="">
                    </div>
                </div>
                <div class="actor-content">
                    <h4><span>Beyond Imagination</span></h4>
                    <p>Within Reach – Let’s weave the threads of new age Content together </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="system">
        <div class="system-content">
            <ul>
                <li>
                    <h4><span>MakeAR’s vision:</span></h4>
                    <!-- <h4>Bringing in <b>Scale & Cost</b> efficiencies to AR </h4> -->
                </li>
            </ul>
        </div>
    </div>
    <div class="screen4">
        <div class="screen4-content">
            <li>
                <h4><span>With us by your side,</span></h4>
                <p>You'll harness the power of spatial computing to reshape how your audience perceives your product.</p>
                <p>
                    MakeAR becomes your partner in visionary thinking, your ally in reimagining Content strategies, and your path to unlocking unparalleled brand experiences.
                </p>
            </li>
        </div>
    </div>
    <div class="screen5">
        <div class="screen5-content">
            <li>
                <h4><span>Join us in<br> this<br> journey<br> of <br>limitless<br> creativity,<br></span></h4>
                <p>
                    Where we shape realities, revolutionize content, and transform your brand's future.
                </p>
            </li>
        </div>
    </div>
    <div class="screen6">
        <div class="screen6-content">
            <li>
                <h4><span>Welcome to MakeAR,</span></h4>
                <p>
                    where we bridge the gap between imagination and reality.
                </p>
            </li>
        </div>
    </div>
    <div class="screen7">
        <div class="screen7-content">
            <ul>
                <li>
                    <h4>We're not just making augmented reality,<br> we're making it yours.</h4>
                    <!-- <button>Reach Us</button> -->
                </li>
            </ul>
        </div>
    </div>
</div>
  
  <ul class="scroll-wrap">
    <div class="container">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </div>
  </ul>
<%- include('includes/footer.ejs') %>