<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <img id="output_image" height=50px width=50px>
    <input type="file" id="fname" accept="image/*">
    <div id="tap-to-place">Tap to Place</div>
    <!-- <img id="imageFile" src="../assets/grunge-paint-background.jpg"> -->
    <h1>LOREM IPUSM</h1>
    <img id="profileCameraImage" src="/images/trees.jpg" alt="" style="display: NONE; position:absolute;">
    <!-- <canvas id="canvas"></canvas> -->
    <div id="uiContainer">
      <div id="ui">
        <button id="screenshot" type="button">Save...</button>
      </div>
      <div id="ui1">
        <button id="copy" type="button">COPY...</button>
      </div>
    </div>
</body>
<script src="bundled/main-bundled.js"></script>
</html>