<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>

<div class="container">
    <div class="video-parent">
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Affirmations.mp4" controls></video>
        </div>
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Ajio.mp4" controls></video>
        </div>
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Cadbury .mp4" controls></video>
        </div>
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Cheetah (3).mp4" controls></video>
        </div>
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Colgate AR  (3).mp4" controls></video>
        </div>
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Dhobi Ghat Video (2).mp4" controls></video>
        </div>
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/golf courseAR - Trim.mp4" controls></video>
        </div>
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Hersheys Rakshabhandhan (2).mp4" controls></video>
        </div>
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/KITKAT (2).mp4" controls></video>
        </div>
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Lakme video.mp4" controls></video>
        </div>
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Milkybar Aquarium (2).mp4" controls></video>
        </div>
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/nangrow (2).mp4" controls></video>
        </div>
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Nescafe chill date (1).mp4" controls></video>
        </div>
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Nescafe Sunrise (2).mp4" controls></video>
        </div>
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/New york Mural.mp4" controls></video>
        </div>
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Ponds.mp4" controls></video>
        </div>
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Spotless Run .mp4" controls></video>
        </div>
        <div class="video-child">
            <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/world map Milkybar .mp4" controls></video>
        </div>
    </div>
</div>

<%- include('includes/footer.ejs') %>