<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receiver</title>
</head>
<body>
    <div class="ejs-block">
        receiver page with data value of <p><strong><%- data.text %></strong></p>

        <caption><a href="/">back to home</a></caption>
    </div>
</body>
</html> 