<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>
<header>
    <div class="container container-rc">
        <div class="header-title">
            <h1>Embark on the Augmented Reality Revolution with MakeAR</h1>
        </div>
    </div>
</header>

<!-- future of advertising -->
<section>
    <div class="container">

        <div class="row">
            <div class="section-wrapper col-md-8 col-xs-12">
                <div class="section-header">
                    <h3>Welcome to the Future of Advertising!</h3>
                    <p>AR content is not just a trend; it's the future. It perfectly aligns with the camera-native Gen Z's preferences.</p>
                </div>
            </div>
        </div>
        
        <div class="parent">
            <div class="item">
                <div class="wrapper">
                    <img src="assets/images/target-audience.png" alt="target-audience.png">
                    <h6>Forge a Deeper Connection with Your Audience</h6>
                    <p>Break down the barriers—mental, physical, and societal—to form a profound bond with your audience.</p>
                </div>
            </div>

            <div class="item">
                <div class="wrapper">
                    <img src="assets/images/selective-1.png" alt="selective-1.png">
                    <h6>Streamline Your Consumer Funnel</h6>
                    <p>Trim the fat from your conversion funnel. MakeAR helps at every stage—discovery, consideration, and conversion. </p>
                </div>
            </div>

            <div class="item">
                <div class="wrapper">
                    <img src="assets/images/plugin-1.png" alt="plugin-1.png">
                    <h6>Supercharge Your Brand</h6>
                    <p>Elevate your brand by strengthening the emotional connection consumers have with your purpose.</p>
                </div>
            </div>

            <div class="item">
                <div class="wrapper">
                    <img src="assets/images/user-experience-1.png" alt="user-experience-1.png">
                    <h6>Unleash Unforgettable Promotions</h6>
                    <p>Craft immersive narratives, interactive games, and engaging experiences to promote your product or service. </p>
                </div>
            </div>

            <div class="item">
                <div class="wrapper">
                    <img src="assets/images/network-1.png" alt="network-1.png">
                    <h6>Expand Your Horizon with Massive Reach</h6>
                    <p>Expand Your Horizon with Massive Reach</p>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="opt-for">
    <div class="container">

        <div class="row">
            <div class="section-wrapper col-md-8 col-xs-12">
                <div class="section-header">
                    <h3>Why Opt for MakeAR?</h3>
                    <p>Explore why partnering with MakeAR for remarkable augmented reality campaigns is the way forward -</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="parent">

                <div class="item">
                    <div class="wrapper">
                        <h6>Achieve Stellar Performance</h6>
                        <p>Witness unmatched results in dwell time, engagement, and conversion. Our real-time analytics solutions provide actionable insights.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="wrapper">
                        <h6>Fuel Your Creativity</h6>
                        <p>With MakeAR, you can channel your creativity without getting bogged down by technicalities. Leave the coding to us.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="wrapper">
                        <h6>Boost Efficiency</h6>
                        <p>MakeAR streamlines the creation of AR/XR content, saving you time and costs.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="wrapper">
                        <h6>Make Impacts at Every Stage</h6>
                        <p>Ensure success throughout your marketing funnel with MakeAR's interactive campaigns.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<section class="measuring-ar">
    <div class="container">

        <div class="row">
            <div class="section-wrapper col-md-8 col-xs-12">
                <div class="section-header">
                    <h3>Measuring AR Marketing</h3>
                </div>
            </div>
        </div>

        <div class="parent">
            <div class="item">
                <div class="wrapper">
                    <h6>Dwell Time that Captivates</h6>
                    <p>Immerse consumers with captivating content. Boost brand affinity, ad recall, and sales with prolonged engagement.</p>
                </div>
            </div>
    
            <div class="item">
                <div class="wrapper">
                    <h6>Click-Through Rates (CTR)</h6>
                    <p>Track user consideration with conversion CTA click-through rates.</p>
                </div>
            </div>
    
            <div class="item">
                <div class="wrapper">
                    <h6>Engagement Metrics</h6>
                    <p>Measure campaign interest and gauge consumer engagement.</p>
                </div>
            </div>
    
            <div class="item">
                <div class="wrapper">
                    <h6>Sales Uplift</h6>
                    <p>Quantify conversion success with measurable sales uplift from previous campaigns.</p>
                </div>
            </div>
    
            <div class="item">
                <div class="wrapper">
                    <h6>Retention Strategies</h6>
                    <p>Showcase loyalty-building activities in your campaigns, such as discounts, rewards, and redemptions.</p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="case-studies">

    <div class="container">
        <div class="row">
            <div class="section-wrapper col-md-8 col-xs-12">
                <div class="section-header">
                    <h3>Discover Real-World Success Stories</h3>
                    <p>Explore our case studies featuring <brand 1>, <brand 2>, and more. Unlock the secrets of AR marketing best practices that yield tangible results.</p>
                </div>
            </div>
        </div>
    
            <div class="case-study">

                <div class="project-item">
                    <div class="wrapper">
                        <div class="project-thumbnail">
                            <img src="assets/images/vodafone-case-study-thumbnail.png" alt="vodafone-case-study-thumbnail.png">
                        </div>
                        <button>
                            <h5>project title</h5>
                            <a href="case-study-path">View</a>
                        </button>
                    </div>
                </div>
                <div class="project-item">
                    <div class="wrapper">
                        <div class="project-thumbnail">
                            <img src="assets/images/worldmap-ar-thumbnail.png" alt="worldmap-ar-thumbnail.png">
                        </div>
                        <button>
                            <h5>project title</h5>
                            <a href="case-study-path">View</a>
                        </button>
                    </div>
                </div>
                <div class="project-item">
                    <div class="wrapper">
                        <div class="project-thumbnail">
                            <img src="assets/images/nescafe-gold-ar-thumbnail.png" alt="nescafe-gold-ar-thumbnail.png">
                        </div>
                        <button>
                            <h5>project title</h5>
                            <a href="case-study-path">View</a>
                        </button>
                    </div>
                </div>
    
            </div>
    </div>

</section>

<section>
    <div class="container">

        <div class="row">
            <div class="section-wrapper col-md-8 col-xs-12">
                <div class="section-header">
                    <h3>The Future is Mobile AR</h3>
                </div>
            </div>
        </div>

        <div class="row">
           <div>
            <p>Mobile AR revenue is set to soar,<br>projected to reach $39.8 billion in 2027.<br>Harness the power of 3.6 billion smartphones.</p>
           </div>
        </div>

    </div>
</section>

<section>
    <div class="container">

        <div class="row">
            <div class="section-wrapper col-md-8 col-xs-12">
                <div class="section-header">
                    <h3>Join the Ranks of Industry Titans</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div>
                <h3>Many other esteemed brands have leveraged MakeAR's prowess to engage their audience.</h3>
                <img src="assets/images/client-logos.png" alt="client-logos">
            </div>
        </div>
    </div>
</section>
<%- include('includes/footer.ejs') %>