@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

.landing-page-ns {
    height: 100dvh;
    position: relative;
    background-image: url("images/diwali-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.led-lights {
    mix-blend-mode: screen;
    position: absolute;
    top: -2px;
    width: 100%;
}
.diwali-lamp {
    width: 25%;
    position: absolute;
    right: 3px;
}
.diwali-diya {
    width: 30%;
    position: absolute;
    bottom: 45px;
    right: 0px;
    z-index: 2;
}
.diwali-rocket {
    width: 30%;
    position: absolute;
    bottom: 10px;
    left: 0px;
    z-index: 2;
}
.brown-color {
    background: linear-gradient(90deg, #2D100C 0%, #61311A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.page-wrapper {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 90px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    z-index: 1;
}
.top-div {
    margin: 0px auto 50px;
    width: 100%;
}
.top-div h3 {
    font-family: "Walsheim";
    font-size: 24px;
    text-align: center;
}
.top-div .home-diwali-text {
    font-family:"snavely";
    font-size: 60px;
}
.top-div h3 .home-diwali-text .home-diwali-d {
    font-family: 'Poller One', serif;
}
.center-btn {
    display: flex;
    flex-direction: column;
    height: 280px;
    justify-content: space-between;
}
.send-surprise-message,
.send-thankyounote{
    background: linear-gradient(90deg, #2D100C 0%, #61311A 100%);
    text-align: center;
}
.heading-div,
.text-landing-page {
    background: linear-gradient(94deg, #DFBC66 0.3%, #F7EF8A 29.46%, #FFF4C5 59.92%, #D2AC47 94.92%, #EDC967 124.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-landing-page {
    text-align: center;
}


/* media query */ 
/* iphone12 and below */
@media screen and (max-width: 390px) {
    .page-wrapper {
        padding: 50px 0px;
    }
    .top-div h3 {
        font-size: 20px;
    }
    .top-div .home-diwali-text {
        font-size: 48px;
    }
    .top-div {
        margin: 0px auto 10px;
    }
    .center-btn {
        height: 320px;
    }
}

/* iphone se 2020 */
@media screen and (max-width: 375px) {
    .diwali-rocket {
        display: none;
    }
}

/* landing page ends here */

.wrapper {
    height: 100dvh;
    position: relative;
    background-image: url("images/diwali-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    overflow-y: scroll;
}
.surprise-heading-ns {
    font-style: unset;
    background: linear-gradient(90deg, #2D100C 0%, #61311A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.surprise-heading-ns span {
    -webkit-text-fill-color: initial;
}
.surprise-heading {
    margin-bottom: 0px;
    background: linear-gradient(90deg, #2D100C 0%, #61311A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.diwali-btn {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    font-family:"snavely";
    border-radius: 93px;
    background: #2D1415;
    border: none;
}
.diwali-btn h3 {
    font-size: 18px;
    margin: 0px;
    padding: 10px 20px;   
    background: linear-gradient(94deg, #DFBC66 0.3%, #F7EF8A 29.46%, #FFF4C5 59.92%, #D2AC47 94.92%, #EDC967 124.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.diwali-btn h3 span {
    font-family: 'Poller One', serif;
}
.diwali-btn h3 span.card-emoji {
    background: unset;
    background-clip: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: initial;
}
.image-crop-box {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100dvh;
    z-index: 2;
    background-image: url(images/diwali-bg.png);
    background-size: contain;
    background-position: top;
}
.window-title h4 {
    margin: 25px 15px 15px;
    background: linear-gradient(90deg, #2D100C 0%, #61311A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#cropBtn h4 {
    margin: 0px;
    background: linear-gradient(94deg, #DFBC66 0.3%, #F7EF8A 29.46%, #FFF4C5 59.92%, #D2AC47 94.92%, #EDC967 124.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.window-title h4,
#cropBtn h4 {
    font-family:"snavely";
}
.window-title h4 span,
#cropBtn h4 span {
    font-family: 'Poller One', serif;
}
#cropBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 80%;
    margin: 15px auto;
}
.cropped-image {
    width: 100%;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cropped-image img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}
.textarea-messages {
    position: relative;
}
.textarea-messages textarea {
    font-family: 'Walsheim-Medium';
    margin: 0px auto 20px;
    display: flex;
    padding: 10px;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    border: 5px solid #2D1415;
    background: linear-gradient(0deg, rgba(66, 24, 18, 0.40) 0%, rgba(66, 24, 18, 0.40) 100%), linear-gradient(0deg, rgba(15, 15, 15, 0.15) 0%, rgba(15, 15, 15, 0.15) 100%), linear-gradient(94deg, rgba(223, 188, 102, 0.10) 0.29%, rgba(210, 172, 71, 0.10) 23.42%, rgba(247, 239, 138, 0.10) 41.19%, rgba(255, 244, 197, 0.10) 68.09%, rgba(237, 201, 103, 0.10) 98.89%);
}
.textarea-messages textarea {
    color: #D2AC47;
}
.textarea-messages textarea::placeholder {
    background: linear-gradient(94deg, #DFBC66 0.3%, #F7EF8A 29.46%, #FFF4C5 59.92%, #D2AC47 94.92%, #EDC967 124.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.userName {
    font-family: "brandon printed";
    color: #452012!important;
    filter: opacity(0.5);
}
::-webkit-input-placeholder { /* Edge */
    color: #452012;
    
}
#character-counter {
    position: absolute;
    bottom: 5px;
    right: 30px;
    font-family: 'Walsheim';
    color: #2D1415;
}
.golden-wrapper {
    background: #2D1415;
}
.form-part-2 .golden-wrapper {
    background: rgba(46, 21, 21, 0.9);
}
.title-ns {
    background: linear-gradient(94deg, #DFBC66 0.3%, #F7EF8A 29.46%, #FFF4C5 59.92%, #D2AC47 94.92%, #EDC967 124.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.wrapperdiv .diwali-diya {
    bottom: -7px;
}
.wrapperdiv .diwali-rocket {
    bottom: -40px;
}
.alert-box {
    padding-top: 20px;
    margin-top: 10px;
    text-align: center;
}
.form-part-1 {
    display: none;
}
.form-part-2 {
    display: none;
}
.form-part-2 .carosel-images {
    width: 60% !important;
    /* margin: 58px 0px; */
    margin-top: 45px;
}
/* #distancewali {
    margin-left: 58px;
} */
.camera-tag {
    color: unset;
    background: linear-gradient(90deg, #2D100C 0%, #61311A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.camera-tag span {
    -webkit-text-fill-color: initial;
}
.caption-ns {
    width: 90%;
    margin: 0px auto 15px;
    font-family: "Walsheim";
    color: unset;
    background: linear-gradient(90deg, #2D100C 0%, #61311A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.upload-outerdiv {
    background-image: url('images/kisses-shape-bg.png');
    background-size: contain;
    background-repeat: repeat-y;
}

/* form ends here */


.loading-screen {
    background-image: url("images/diwali-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.loading-message h4 span {
    background: linear-gradient(90deg, #2D100C 0%, #61311A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .loading-spinner .spinner-ns {
    background: linear-gradient(90deg, #2D100C 0%, #61311A 100%);
} */

/* loading screen ends here */

.msg-led-lights,
.msg-hanging-lamp {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
}
.msg-led-lights img {
    position: absolute;
    top: 0px;
    left: 0px;
    mix-blend-mode: screen;
    width: 100%;
}
.msg-hanging-lamp img {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 50px;
}
.diwali-msg-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.diwali-msg-heading {
    position: relative;
    z-index: 2;
}
.diwali-msg-h4 {
    font-size: 19px;
    text-align: center;
    font-family:"snavely";
    color: #fff;
    background: linear-gradient(90deg, #2D100C 0%, #61311A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.diwali-msg-h4 span {
    font-family: 'Poller One', serif;
}
.vertical-gold-bar {
    display: flex;
    justify-content: center;
    height: 170px;
}
.vertical-bar {
    display: flex;
    justify-content: center;
    width: 10%;
    height: inherit;
}
.vertical-bar span {
    width: 3px;
    height: inherit;
    background: #4C2414;
    display: block;
}
.polaroid-frame {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background: linear-gradient(94deg, #3F000B 0.3%, #823C48 61.22%, #3F000B 124.73%), #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 10px 12px 10px;
}
.user-img {
    background: white;
    width: 100%;
}
.user-img img{
    width: 100%;
}
.brand-wish {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 10px 0px 10px;
}
.brand-wish img {
    width: 100%;
}
.long-distance-dynamic {
    position: absolute;
    width: 40%!important;
    bottom: 0px;
    right: -40px;
}
.long-distance-bg {
    background: #E8C898;
    background-image: url('/images/white-kisses-long-distance.png');
}
.friend-bg {
    background-image: url('/images/friend-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.friend-bg-polaroid {
    border-radius: 3px;
    background: linear-gradient(94deg, #DFBC66 0.3%, #F7EF8A 29.46%, #FFF4C5 59.92%, #D2AC47 94.92%, #EDC967 124.73%), #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.kiss-cascade {
    position: relative;
}
.kiss-cascade-img {
    position: absolute;
    right: -16px;
    width: 30%;
    bottom: -19px;
}
.family-bg {
    background-image: url('/images/family-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.family-gold-text {
    color: #2D100C;
    background: linear-gradient(94deg, #DFBC66 0.3%, #F7EF8A 29.46%, #FFF4C5 59.92%, #D2AC47 94.92%, #EDC967 124.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* diwali message note end here */

.receiver-wrapper {
    height: 100dvh;
    position: relative;
    background-image: url("images/diwali-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.receiver-div {
    background-image: url("images/diwali-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100dvh;
}
.receiver-div-button button {
    background: #2D1415;
}
.receiver-div-button button span {
    background: linear-gradient(94deg, #DFBC66 0.3%, #F7EF8A 29.46%, #FFF4C5 59.92%, #D2AC47 94.92%, #EDC967 124.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
