@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");


@font-face {
  font-family: "Walsheim";
  src: url("./fonts/GT-Walsheim-Bold.ttf");
}

@font-face {
  font-family: "Walsheim-Medium";
  src: url("./fonts/GT-Walsheim-Medium.otf");
}

@font-face {
  font-family: "snavely";
  src: url('./fonts//snavely\ lc-regular.otf');
}

@font-face {
  font-family: "brandon printed";
  src: url("./fonts/brandon-printed.ttf");
}

html,
body {
  /* background-color: grey; */
  font-family: "Walsheim";
  overflow-y: scroll;

}



#firstscreen {
  display: none;
  /* change to block qwerty */
}

#formId {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100dvh;
  width: 100vw;
}

#receiverfirstscreen {
  display: none;
  /* change to block qwerty */
}

h1 {
  /* display: none;
    position: absolute; */
  z-index: 2;
  font-size: 10rem;
  color: yellow;
}

#tap-to-place {
  display: none;
  /* display: block; */
  position: fixed;
  bottom: 60px;
  left: 50%;
  right: 0px;
  border-radius: 15px;
  background: linear-gradient(133deg, #DFBC66 0%, #F7EF8A 23.44%, #FFF4C5 47.92%, #D2AC47 76.04%, #EDC967 100%), linear-gradient(170deg, #F6CD73 0%, #F2C869 100%);
  color: #3C131C;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  font-family: 'Walsheim';
  text-transform: uppercase;
  z-index: 1;
}

#arscreen {
  display: none;
}

#headerdiv {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #D9D9D9;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.headerlogo-bar-exotic {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 28%;
}

.headerlogokisses {
  display: block;
  /* margin-left: auto; */
  margin-right: auto;
  width: 30%;
}

#sharepopupdiv {
  display: none;
  position: fixed;
  top: 0px;
  background: linear-gradient(133deg, #DFBC66 0%, #F7EF8A 23.44%, #FFF4C5 47.92%, #D2AC47 76.04%, #EDC967 100%), linear-gradient(170deg, #F6CD73 0%, #F2C869 100%);
  color: #3C131C;
  padding: 5px 10px;
  box-sizing: border-box;
  font-family: 'Walsheim';
  font-size: 14px;
  width: 100%;
  z-index: 99;
  text-align: center;
  box-shadow: 3px 3px 16px 0px rgba(0, 0, 0, .5);
}

#hersheyid {
  background: #3C131C;
  color: #FADF9E;
  border-radius: 5px;
  /* position: absolute; */
  width: 49%;

}

#closebtnsharepopup {
  right: 8px;
  position: absolute;
  top: 8px;
  width: 5%;
}

#reloaddiv {
  display: block;
  width: 75px;
  z-index: 99;
}

#reloaddiv img {
  width: 50px;
}

.home-icon {
  cursor: pointer;
  position: absolute;
  top: 80px;
  right: 20px;
  width: 10vw;
  z-index: 99;
}

.home-icon img {
  width: 100%;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

#tapOnEnvelope {
  display: none;
  position: fixed;
  top: 15%;
  left: 0px;
  right: 0px;
  border-radius: 12px;
  background: linear-gradient(133deg, #DFBC66 0%, #F7EF8A 23.44%, #FFF4C5 47.92%, #D2AC47 76.04%, #EDC967 100%), linear-gradient(170deg, #F6CD73 0%, #F2C869 100%);
  color: #3C131C;
  width: 171px;
  margin: auto;
  text-align: center;
  padding: 2px;
  box-sizing: border-box;
  font-family: 'Walsheim-Medium';
  text-transform: capitalize;
  z-index: 99;
  -webkit-animation: breathing 3s ease-out;
  animation: breathing 3s ease-out infinite
}

#recordparentdiv {

  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /* top: 0px; */
  z-index: 99;
  margin: auto;
  width: fit-content;
  height: 35px;
}

#recordbannerdiv {
  font-size: 11px;
  border-radius: 12px;
  background: linear-gradient(133deg, #DFBC66 0%, #F7EF8A 23.44%, #FFF4C5 47.92%, #D2AC47 76.04%, #EDC967 100%), linear-gradient(170deg, #F6CD73 0%, #F2C869 100%);
  color: #3C131C;
  width: 100%;
  text-align: center;
  padding: 2px 10px;
  box-sizing: border-box;
  font-family: 'Walsheim-Medium';
  text-transform: capitalize;
  position: relative;
  z-index: 2;
}

.arrow-down {
  display: none;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  bottom: 12px;
  position: absolute;
  text-align: center;
  border-top: #bcd11c;
  border-top: 18px solid #f0dc9c;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

#shutter {
  width: 75px;
  display: block;
  bottom: 85px;
}

#shutter img {
  width: 75px;
  ;
}

#share {
  position: fixed;
  bottom: 0px;
  z-index: 99;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 40px;
  align-items: center;
}

#share p {
  width: 75px;
  border-radius: 10px;
  background: linear-gradient(133deg, #DFBC66 0%, #F7EF8A 23.44%, #FFF4C5 47.92%, #D2AC47 76.04%, #EDC967 100%), linear-gradient(170deg, #F6CD73 0%, #F2C869 100%);
  color: #3C131C;
  text-align: center;
  padding: 10px 15px;
  font-family: 'Walsheim';
  text-transform: capitalize;
}


body {
  margin: 0;

}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

button {
  pointer-events: initial;
}

#capture1 {
  display: none;
}

#capture2 {
  position: absolute !important;
  z-index: 1 !important;
  background-color: #D9D9D9 !important;
  width: 100% !important;
}

.landing-page-rakshabandhan {
  font-family: "Snavely";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 106.5%;  */
  line-height: 89.5%;
  color: #EFBE7F;
}

.landing-page-sibling {
  color: #EFBE7F;
  font-family: "Walsheim";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  /* line-height: 150.5%;  */
  line-height: 79.5%;
}

.shine {
  margin: 12px;
}

.landing-page-make {
  color: #EFBE7F;
  font-family: "Walsheim";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150.5%;
}

.landing-page-leftimage {
  margin-top: -25px;
}

.landing-page-rakhi {
  height: 150px;
  margin-top: 16px;
}

.landing-page-ns {
  height: 100vh;
  background: linear-gradient(90deg, #2D100C 0%, #61311A 100%), #3F000B;
  overflow-y: scroll;
  overflow-x: hidden;
  /* background-color:  #734222, #37140B; */
}

.camera-tag {
  text-align: center;
  font-family: "Walsheim";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 13px;
  color: #EDC967;

}

.wrapper {
  overflow: auto;
}

.flower {
  margin-top: -29px;
  height: 60px;
}

.layer-ns {
  margin-left: -160px;
}

.flower2 {
  margin-top: -1px;
  margin-right: -14px;
  height: 60px;
}

.send-thankyounote {
  position: relative;
  padding: 20px 29px 14px 19px;
  width: 346px;
  margin-top: -10px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: linear-gradient(133deg, #DFBC66 0%, #F7EF8A 23.44%, #FFF4C5 47.92%, #D2AC47 76.04%, #EDC967 100%), linear-gradient(170deg, #F6CD73 0%, #F2C869 100%);
  margin: 10px;
}

#sendthanks {
  margin-top: -53px;
}

.heading-div {
  background: linear-gradient(235deg, #734222 0%, #37140B 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Snavely";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-landing-page {
  color: #3D251C;
  text-align: center;
  font-family: "Walsheim";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.send-surprise-message {
  position: relative;
  margin: 10px;
  padding: 20px 29px 14px 19px;
  width: 346px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: linear-gradient(133deg, #DFBC66 0%, #F7EF8A 23.44%, #FFF4C5 47.92%, #D2AC47 76.04%, #EDC967 100%), linear-gradient(170deg, #F6CD73 0%, #F2C869 100%);

}

.hersheylogo {
  width: 120px;
}

.defaultImage {
  height: 30vh;
  background-color: black;
}

.bottom {
  background-color: #3F000B;
  height: 70vh;
}

.festive-text {
  font-family: "Walsheim";
  font-size: 36px;
  padding: 22px;
  margin-top: 30px;


}

.sendgift {
  font-family: "Walsheim";
  padding: 17px, 92px, 17px, 92px;
  background-color: #007BBD;
  gap: 10px;
  color: white;
}

.sendingButton {
  /* position: absolute; */
  bottom: 30px;
  /* transform: translateX(-50%); */
  left: 50%;
}

.sendgift {
  border-radius: 57px;
  width: 316px;
  margin-bottom: 30px;
  height: 54px;

}

.thankyounote {
  font-family: "Walsheim";
  border-radius: 57px;
  width: 316px;
  height: 54px;
  background: transparent;
  color: white;
  border: 2px solid white;
}

.header {
  background-color: #D9D9D9;
}

/* first screen */
/* #firstscreen{
  display: none;
} */
/* second screen */
#secondscreen {
  display: none;
}

.wrapper {
  background: linear-gradient(90deg, #2D100C 0%, #61311A 100%), #3F000B;
  height: 100dvh;
}

/* .orange-wrapper{
  background-color: #EE7700;
  height: 87%;
  margin: 13px;
  
} */
.surprise-heading {
  font-family: "Walsheim";
  color: #EFBE7F;
  padding-top: 0px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #EFBE7F;

}

.surprise-heading-ns {
  font-family: "Walsheim";
  color: #EFBE7F;
  font-style: italic;
  font-size: 11px;
}

.flower-carousel-bottom {
  height: 108px;
  top: -190px;
}

.username-section {
  margin-top: 21px;
  margin-left: 18px;
  font-size: 23px;
}

.carousel-ns {
  position: absolute;
  margin-top: -47px;
}

.golden-wrapper {
  position: relative;
  border-radius: 10px;
  background: #D1A354;
  background-image: url(/images/background-image.png);
  margin-top: 28px;
  margin: 14px;
  border: 10px solid hsl(44, 79%, 67%);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.breakline {
  color: inherit;
  border-top: var(--bs-border-width) solid;
  opacity: .25;
  margin-left: 18px;
  margin-right: 18px;
  border: 1px solid;
  margin-top: 6px;

}

.owl-next {
  display: none !important;
}

.owl-dot {
  display: none !important;
}

.blue-child-wrapper {
  color: white;
}

.owl-item {
  margin: -36px !important;
}

.owl-prev {
  display: none !important;
}

.carosel-images {
  width: 72% !important;
  margin: 58px;
  margin-top: 52px;

}

.title-ns {
  padding-top: 20px;
  /* margin-top: 23px; */
  margin-left: 22px;
  color: #410E0F;
  font-family: "Snavely";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.userName {
  caret-color: #fff;
  background: transparent;
  border: none;
  color: #EFBE7F;
  /* font-family: "Walsheim"; */
  font-style: normal;
  /* font-weight: 700; */
  line-height: normal;
  /* margin-top: 5px; */
  width: 100%;
  margin-left: -9px;
  font-family: Brandon Printed;
  font-size: 36px;
  font-weight: 250;

}

/* .userName::placeholder {
  color: rgba(246, 218, 173, 0.1);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #EFBE7F;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
} */
.userName:focus {
  outline: none;
}

.photo-frame {
  height: 70px;
  margin-left: 49px;
  margin-top: -5px;
}

.filejpeg {
  display: flex;
  align-items: center;
  font-family: "Walsheim-Medium";
  font-size: 14px;
  height: 100%;
  margin: 0px;
  justify-content: center;
  width: 100%;
}

.upload-outerdiv {
  border-radius: 10px;
  background: linear-gradient(130deg, rgba(223, 188, 102, 0.10) 0%, rgba(210, 172, 71, 0.10) 23.34%, rgba(247, 239, 138, 0.10) 41.28%, rgba(255, 244, 197, 0.10) 68.42%, rgba(237, 201, 103, 0.10) 99.51%), rgba(15, 15, 15, 0.20);
  margin: 22px;

}

#uploadbtn {
  /* display: none; */
  opacity: 0;
  width: 100%;
  position: absolute;
  height: 100px;
}

.uploadbutton {
  border-radius: 66px !important;
  padding: 16px 47px;
  background: linear-gradient(134deg, #DFBC66 0%, #F7EF8A 23.44%, #FFF4C5 47.92%, #D2AC47 76.04%, #EDC967 100%), linear-gradient(170deg, #F6CD73 0%, #F2C869 100%);
  width: 218px;
  height: 53px;
  color: #2D100C;
  text-align: center;
  font-family: "Walsheim";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.base-title {
  text-align: center;
  font-family: "Walsheim";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #EFBE7F;
}

.uploader {
  height: 53px;
  margin: 24px 18px;
  border-radius: 32px;
  margin-top: -7px;
  background: rgba(255, 255, 255, 0.20);
  border-radius: 51px;
  background: linear-gradient(90deg, #2D100C 0%, #61311A 100%), rgba(255, 255, 255, 0.50);
  border: 2px solid #EFBE7F;
  color: #EFBE7F;
  text-align: center;
  font-family: "Walsheim";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-transform: lowercase;
  border-radius: 51px;
}

.caption-ns {
  color: #EFBE7F;
  font-family: 'Walsheim-Medium';
  font-size: 12px;
  letter-spacing: 1px;
}

/* #imagediv{
  width: 100px;
  height: 100%;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */
.upload-file-text {
  width: 100%;
}

.photo {
  width: 56%;
  align-self: center;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Walsheim";
  position: relative;
}

.upload-section {
  margin-top: 0px;
}

.next-button {
  margin: 15px 0px 30px;
  /* border-radius: 12px; */
  width: 207px;
  font-size: 24px;
  height: 55px;
  border-radius: 93px;
  border-radius: 66px;
  background: linear-gradient(134deg, #DFBC66 0%, #F7EF8A 23.44%, #FFF4C5 47.92%, #D2AC47 76.04%, #EDC967 100%), linear-gradient(170deg, #F6CD73 0%, #F2C869 100%);
  color: #2D100C;
  font-family: "snavely";
  text-transform: lowercase;
  border: none;
}


/* zapper permission request UI */
.zappar-permission-request {
  background-color: #3F000B !important;
  font-family: "Walsheim" !important;
}

/* .zappar-permission-request .zappar-title .zappar-title {
  font-size: 36px!important;
  text-align: left!important;
} */
#thirdscreen {
  display: none;
}

.window-kisses {
  background: linear-gradient(235deg, #89502B 0%, #37140B 64.34%);
  /* height: 115; */
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100dvh;
}

.alert-check-questions {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  height: 100dvh;
  color: #fff;
}

.alert-check-upload {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  height: 100dvh;
  color: #fff;
}

.upload-alert-logo {
  width: 60% !important;
  margin: 20px auto;
}

.close-btn-alert img {
  filter: invert(1);
  width: 20px;
}

.question-alert-logo {
  width: 100%;
  display: flex;
  align-items: center;
}

.image-missing {
  margin: 0px 0px 25px;
}

#alertCloseexoticBtn {
  color: #fff;
  position: absolute;
  top: -30px;
  right: 0px;
}

#alertClosebarBtn {
  color: #fff;
  position: absolute;
  top: -30px;
  right: 0px;
}

#alertCloseBtn {
  color: #fff;
  position: absolute;
  top: -35px;
  right: 0px;
}

.alert-check-questions-bar {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  height: 100dvh;
  color: #fff;
}

.alert-check-questions-exotic {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  height: 100dvh;
  color: #fff;
}

.alert-content {
  font-family: "Walsheim-Medium";
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: fit-content;
  /* background-color: #3F000B; */
}

/* .alert-warning{
  margin: 15px;
} */
.window-kisses .rakhi-kiss-image {
  width: 170px;
  position: absolute;
  top: -15px;
  right: 0px;
}

.nextquecl {
  bottom: 1px;
  position: absolute;
}


.nextQuestion {
  border-radius: 93px;
  background: linear-gradient(133deg, #DFBC66 0%, #F7EF8A 23.44%, #FFF4C5 47.92%, #D2AC47 76.04%, #EDC967 100%), linear-gradient(170deg, #F6CD73 0%, #F2C869 100%);
  width: 214px;
  height: 62px;
  /* margin-top: 43px; */
  font-size: 24px;
  color: #37140B;
  text-align: center;
  font-family: "snavely";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 38px;
  border: none;
}

.qns-3 {
  margin-top: -72px !important;
  border: 7px solid hsl(44, 79%, 67%);
  border-radius: 15px;
  background: #E8B377;
  background-image: url(/images/smallKisses.png);
  box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.30) inset, 0px -9px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 20px;
  font-family: "Walsheim";
  position: relative;
  height: 171px;
  z-index: 1;
}

/* .qns-1{
  position: relative;
  z-index: 2;
  margin: 0px 0px 25px;
  min-height: 210px;
  padding: 25px 0px;
  border: 7px solid  hsl(44, 79%, 67%);
  border-radius: 15px;
  background: #E8B377;
  background-image: url(/images/smallKisses.png);
  box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.30) inset, 0px -9px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Walsheim";
} */
.image1 {
  padding-bottom: 7px;
}

.hersheyBackgroundImage {
  margin-top: -35px;
  left: -32px;
}

.sunrise {
  margin-top: -15px;
}

.hersheyBackgroundImageSection-1 {
  position: absolute;
  margin-top: -45px;
  margin-right: 14px;
}

.hersheyBackgroundImageSection-2 {
  margin-top: -51px;
  position: absolute;
  margin-right: 6px;
}

.hersheyBackgroundImageSection-3 {
  margin-top: -40px;
  right: 0px;
}

.hersheyBackgroundImageSection-4 {
  margin-top: -52px;
  margin-left: -11px;
}

.hersheyBackgroundImageSection-4-duplicate {
  right: -30px;
  top: -60px;
}

.hersheyBackgroundImageSection-6 {
  margin-top: -62px;
}

/* .qns-2{
  margin: 0px 0px 15px;
  color: #410E0F;
  font-family:"Walsheim";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
} */
/* .options-row {
  height: 60px;
} */
.appropriate {
  font-size: 12px;
  font-family: "Walsheim";
  color: #F5F5F5;
  /* font-family:  Walsheim; */
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sibling {
  background: linear-gradient(124deg, #FDEAB1 0%, #F6CD73 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Snavely";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.knowYour {
  color: #F6CD73;
  font-size: 17px;
  font-family: "Walsheim";

}

.plus1 {
  top: 25%;
  bottom: 25%;
  width: 10%;
  left: 45%;
}

.plus2 {
  left: 25%;
  right: 25%;
  height: 10%;
  top: 45%;
}

.x1 {
  transform: rotate(45deg);
}

.x2 {
  transform: rotate(-45deg)
}

.div {
  height: 58px;
  width: 30%;
  display: inline-block;
  margin-top: 96px;
}

.active {
  width: 75%;
}

.nonactive {
  width: 10%;
}

.content {
  display: none;
}

.content.showinfo {
  display: block;
}

.toggle {
  cursor: pointer;
}

.toggle2 {
  content: "-";
  font-size: 40px;
  float: right;
  padding-top: 0px;
  padding-right: 10px;
}

.div,
.active,
.nonactive {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

.box1 {
  background-color: #F6CD73;
}

.box2 {
  background-color: #F6CD73;
}

.box3 {
  background-color: #F6CD73;
}

.information {
  display: none;
}

.showinfo {
  position: absolute;
}

.answer {
  color: #774629;
  text-align: center;
  font-family: "Walsheim";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

/* ------------------------------------------- card1*/


.normal-div {
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  margin: 1px;
  width: 32.33%;
  height: 100%;
  font-size: 12px;
  /* position:relative; */
  float: left;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: white;
  font-family: "snavely";
  text-transform: lowercase;
}

.qns-2 {
  margin: 0px 0px 15px;
  color: #410E0F;
  font-family: "Walsheim";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.options-row {
  height: 60px;
}

/* .expanded-div{
      width:60%;
      background: linear-gradient(170deg, rgba(246, 205, 115, 0.20) 0%, rgba(242, 200, 105, 0.20) 100%), linear-gradient(225deg, #FDEAB1 0%, #FAE1A1 30.71%, rgba(253, 234, 177, 0.00) 100%), linear-gradient(316deg, #F5CC72 0%, #F5CC72 100%);
      border: 2px solid  hsl(44, 79%, 67%);
      color: #37140B;
      font-family:"snavely";
      text-transform: lowercase;
      font-size: 17px;
  } */
.compressed-div {
  width: 18.5%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#div-1 {
  background-color: #774629;
}

#div-2 {
  background-color: #774629;
}

#div-3 {
  background-color: #774629;
}

a.expansion-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 2vw;
  margin-left: 13px;
  margin-top: 27px;
}

.expansion-btn {
  /* margin-top: 22px; */
  margin-top: 11px;
  margin-left: 12px;
}


/* ------------------------------------------- */
/* Custom styles for the container and question  card2*/

.container {
  width: 80%;
  max-width: 800px;
}

/* Styles for the custom divs */
.custom-div {
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  margin: 1px;
  width: 32.33%;
  height: 100%;
  font-size: 12px;
  /* position:relative; */
  float: left;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: white;
  font-family: "snavely";
  text-transform: lowercase;
}

.custom-expanded-div {
  width: 60%;
  background: linear-gradient(170deg, rgba(246, 205, 115, 0.20) 0%, rgba(242, 200, 105, 0.20) 100%), linear-gradient(225deg, #FDEAB1 0%, #FAE1A1 30.71%, rgba(253, 234, 177, 0.00) 100%), linear-gradient(316deg, #F5CC72 0%, #F5CC72 100%);
  border: 2px solid hsl(44, 79%, 67%);
  color: #37140B;
  font-family: "snavely";
  text-transform: lowercase;
  font-size: 17px;
}

.custom-compressed-div {
  width: 18.5%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* Styles for the custom div backgrounds */
#custom-div-1 {
  background-color: #774629;
}

#custom-div-2 {
  background-color: #774629;
}

#custom-div-3 {
  background-color: #774629;
}

/* Styles for the expansion buttons */
.custom-expansion-btn {
  margin: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .expansion-btn {
    font-size: 14px;
    margin-left: 13px;
    margin-top: 9px !important;
} */
/* ---------------------------------------------- */
.custom-card-container {
  justify-content: center;
}

.custom-option-container {
  width: 80%;
  max-width: 800px;
}

.custom-question {
  font-size: 24px;
  /* font-weight: 700; */
  font-family: "snavely";


}

.custom-option {
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  margin: 1px;
  width: 32.33%;
  height: 100%;
  font-size: 12px;
  /* position:relative; */
  float: left;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: white;
  font-family: "snavely";
  text-transform: lowercase;
}

.custom-option:nth-child(1) {
  background-color: #774629;
}

.custom-option:nth-child(2) {
  background-color: #774629;
}

.custom-option:nth-child(3) {
  background-color: #774629;
}

.custom-expanded-option {
  width: 60%;
  background: linear-gradient(170deg, rgba(246, 205, 115, 0.20) 0%, rgba(242, 200, 105, 0.20) 100%), linear-gradient(225deg, #FDEAB1 0%, #FAE1A1 30.71%, rgba(253, 234, 177, 0.00) 100%), linear-gradient(316deg, #F5CC72 0%, #F5CC72 100%);
  border: 2px solid hsl(44, 79%, 67%);
  color: #37140B;
  font-family: "snavely";
  text-transform: lowercase;
  font-size: 17px;
}

.custom-compressed-option {
  width: 18.5%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.custom-option-btn {
  margin: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* --------------landing page */
.hershey-title {
  padding-top: 68px;
}

/* get coupon page */
body {
  background: linear-gradient(90deg, #2d100c 0%, #61311a 100%);
}

.relative-div-content {
  height: 100vh;
}

.bg-images {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: absolute;
  z-index: -1;
}

.bg-images img {
  width: 100%;
}

.top-elements .hanging-circle {
  width: 85%;
  padding-left: 10px;
}

.top-elements .rakhi-kiss-ns {
  padding-right: 10px;
}

.middle-elements {
  top: 22%;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

.low-elements {
  bottom: 10%;
  height: 27vh;
}

.get-coupon-section {
  /* background: linear-gradient(90deg, #2d100c 0%, #61311a 100%); */
  color: #fff;
  overflow-x: hidden;
  /* height: 100%; */
}

.confetti-video {
  position: absolute;
  top: 0px;
  height: 100vh;
}

.confetti-video .confetti-video-file {
  object-fit: contain;
  width: 100vw;
}

/* .get-coupon-video {
  position: absolute;
  z-index: 2;
} */
.get-coupon-video,
.confetti-video {
  object-fit: contain;
  width: 100vw;
}

.coupon-video {
  padding: 25px 0px;
}

.hide-content {
  display: none;
}

.voucher-parent {
  display: flex;
  justify-content: center;
}

.get-coupon-form {
  position: relative;
  bottom: 0px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: .2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@-webkit-keyframes slide {
  100% {
    bottom: 30px;
  }
}

@keyframes slide {
  100% {
    bottom: 30px;
  }
}

.get-coupon-form button {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.get-coupon-form .tnc-div {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Walsheim";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(90deg, #F6DAAD 0%, #F7C789 50%, #EFBE7F 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* -------------hershey-bar */
#thirdscreen-bar {
  display: none;
}

.windows-bar {
  background-image: url('images/questions-window-bars.png');
  overflow-x: hidden;
  height: 100dvh;
  background-repeat: repeat-y;
  background-size: contain;
  width: 100%;
}

.bar-heading {
  margin-top: 12px;
}

.elements-bar {
  top: -16px;
  left: -15px;
  height: 47px;
}

.heart-bar {
  right: 0px;
  bottom: -40px;
}

.qns-1-bar {
  position: relative;
  z-index: 2;
  min-height: 210px;
  padding: 25px 0px;
  border: 7px solid hsl(44, 79%, 67%);
  border-radius: 15px;
  background: #E8B377;
  background-image: url(/images/question\ 1.png);
  background-repeat: no-repeat;
  background-size: 102% 104%;
  background-position: center;
  box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.30) inset, 0px -9px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Walsheim";
  margin-bottom: 25px;
}

.nextQuestion-bar {
  border-radius: 93px;
  border: 3px solid #FFF;
  background: linear-gradient(90deg, #A26844 0%, #4D2416 100%);
  width: 190px;
  font-size: 20px;
  font-family: "Walsheim";
  text-transform: uppercase;
  height: 55px;
  color: #fff;
}

.bottom-image-bar {
  width: 100%;
  margin: 30px 0px 0px;
}

.top-image-bar {
  width: 100%;
}

.sibling-bar {
  font-family: "Snavely";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.appropriate-bar {
  font-family: "Walsheim";
  color: white;
  font-size: 15px;
}

.knowYour-bar {
  font-size: 18px;
  font-family: "Walsheim";
  font-size: 18px;

}

.hersheyBackgroundImageSection-bar-4 {
  left: -10px;
  bottom: -14px;
}

.hersheyBackgroundImageSection-bar-3 {
  right: -18px;
  top: -50px;
}

.elements-bar2 {
  position: relative;
}

.img1-bar {
  position: absolute;
}

.elements-bar3 {
  position: relative;
}

.img3-bar {
  position: absolute;
}

.qns-bar-2 {
  color: #fff;
  font-family: "Walsheim";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.qns-bar-3 {
  margin-top: -30px !important;
  border: 7px solid hsl(44, 79%, 67%);
  border-radius: 15px;
  background: #E8B377;
  background-image: url(/images/question\ 1.png);
  box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.30) inset, 0px -9px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 20px;
  font-family: "Walsheim";
  position: relative;
  height: 171px;
  z-index: 1;
}

.hersheyBackgroundImage-bar {
  margin-top: -36px;
}

.hershey-pip-bar {
  top: -50px;
  right: -20px;
}

.elements-heart {
  margin-top: -31px;
  margin-right: 15px;
}

/* -----------hershey card jquery */
.normal-div-bar {
  margin: 1px;
  width: 32.33%;
  height: 40%;
  font-size: 12px;
  /* position:relative; */
  float: left;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: white;
  font-family: "snavely";
  text-transform: lowercase;
}

.qns-1 {
  position: relative;
  z-index: 2;
  margin: 0px 0px 25px;
  min-height: 210px;
  padding: 25px 0px;
  border: 7px solid hsl(44, 79%, 67%);
  border-radius: 15px;
  background: #E8B377;
  background-image: url(/images/smallKisses.png);
  box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.30) inset, 0px -9px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Walsheim";
}

/* .expanded-div-bar{
      width:60%;
      background: linear-gradient(170deg, rgba(246, 205, 115, 0.20) 0%, rgba(242, 200, 105, 0.20) 100%), linear-gradient(225deg, #FDEAB1 0%, #FAE1A1 30.71%, rgba(253, 234, 177, 0.00) 100%), linear-gradient(316deg, #F5CC72 0%, #F5CC72 100%);
      border: 2px solid  hsl(44, 79%, 67%);
      color: #37140B;
      font-family:"snavely";
      text-transform: lowercase;
  } */
.question-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 145px;
  padding: 0px 15px;
}

.compressed-div-bar {
  width: 18.5%;

}

#div-1 {
  background-color: #774629;
}

#div-2 {
  background-color: #774629;
}

#div-3 {
  background-color: #774629;
}

a.expansion-btn-bar {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 2vw;
  margin-left: 13px;
  margin-top: 27px;
}

.expansion-btn-bar {
  /* margin-top: 22px; */
  margin-top: 11px;
  margin-left: 12px;
}

/* .........................................................................card1 */
.div-var {
  font-size: 12px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: white;
  font-family: "snavely";
  text-transform: lowercase;
  border: 2px solid #fff;
}

.qns-bar-1 {
  border: 7px solid hsl(44, 79%, 67%);
  border-radius: 15px;
  background: #E8B377;
  background-image: url(/public/images/question\ 1.png);
  box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.30) inset, 0px -9px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 20px;
  font-family: "Walsheim";
  position: relative;
  height: 171px;
  margin-top: -53px !important;
  /* margin-top: 6px !important; */
  z-index: 1;
}

.expanded-div {
  justify-content: center;
  width: 60%;
  background: linear-gradient(170deg, rgba(246, 205, 115, 0.20) 0%, rgba(242, 200, 105, 0.20) 100%), linear-gradient(225deg, #FDEAB1 0%, #FAE1A1 30.71%, rgba(253, 234, 177, 0.00) 100%), linear-gradient(316deg, #F5CC72 0%, #F5CC72 100%);
  border: 2px solid hsl(44, 79%, 67%);
  color: #37140B;
  font-family: "snavely";
  font-size: 17px;
  text-transform: lowercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.compressed-div {
  width: 18.5%;
}

/* #hershey-bar-1{

  }
  
  #hershey-bar-2{

  }
  
  #hershey-bar-3{
  
  } */

a.expansion-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 2vw;
  margin-left: 13px;
  margin-top: 27px;
}

.expansion-btn {
  margin: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* -------------------------------------------card2 */


.form-check-input-ns {
  width: 18px;
  height: 18px;
}

.form-check-label-ns {
  font-family: "Walsheim-Medium";
  font-size: 16px;
  margin-left: 10px;
}

.form-check-label-ns a {
  text-decoration: underline;
  border-bottom: 2px solid #EFBE7F;
  cursor: pointer;
}

.get-coupon-form button {
  position: relative;
  background-image: url("/images/get-coupon-btn.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 78px;
  color: #5f3019;
  font-family: 'Walsheim';
}

.get-coupon-form button .coupon-btn-text {
  width: fit-content;
  display: flex;
  background: unset;
  transition: unset;
  border-radius: unset;
  line-height: 21px;
  align-items: center;
}

.span-div-coupon {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
}

.code-copy-img img {
  width: 70%;
}

/* .get-coupon-form button .coupon-btn-text::after {
  margin-left: 5px;
  content: '';
  background-image: url(/images/copy-btn.png);
  width: 16px;
  background-size: contain;
  height: 19px;
} */
.get-coupon-form p {
  margin-top: 0px;
  font-family: "Walsheim-Medium";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(90deg, #F6DAAD 0%, #F7C789 50%, #EFBE7F 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.post-script-text {
  padding: 5px 10px;
  display: none;
}

button:disabled,
button[disabled] {
  filter: opacity(0.25);
}

.post-script-text p {
  text-align: center;
  margin: 0px;
  font-family: "Walsheim-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(90deg, #F6DAAD 0%, #F7C789 50%, #EFBE7F 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* --------------------------------------- */
.new-div-var {
  font-size: 12px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #fff;
  border: 2px solid #fff;
}

.new-qns-bar-1 {
  border: 7px solid hsl(44, 79%, 67%);
  border-radius: 15px;
  background: #E8B377;
  background-image: url(/public/images/question\ 1.png);
  box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.30) inset, 0px -9px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 20px;
  font-family: "Walsheim";
  position: relative;
  height: 171px;
  margin-top: -53px !important;
  /* margin-top: 6px !important; */
  z-index: 1;
}

.new-expanded-div {
  font-family: "Walsheim";
  justify-content: center;
  width: 60%;
  border: 3px solid #FFF;
  background: radial-gradient(50% 50.00% at 50% 50.00%, #FEBC20 0%, #F7950F 100%);
  color: #37140B;
  font-family: "Walsheim";
  font-size: 17px;
  text-transform: lowercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  flex: 2 !important;
  text-transform: capitalize;
}

.new-compressed-div {
  width: 18.5%;
}

a.new-expansion-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 2vw;
  margin-left: 13px;
  margin-top: 27px;
}

.new-expansion-btn {
  margin: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ----------------------------- */


.option-div {
  display: flex;
  justify-content: center;
  flex: 1;
  font-family: "Walsheim";
  text-transform: capitalize;
  font-size: 12px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #fff;
  border: 2px solid #fff;
}

.option-bar {
  border: 7px solid hsl(44, 79%, 67%);
  border-radius: 15px;
  background: #E8B377;
  background-image: url(/public/images/question-1.png);
  box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.30) inset, 0px -9px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 20px;
  font-family: "Walsheim";
  position: relative;
  height: 171px;
  margin-top: -53px !important;
  z-index: 1;
}

.option-expanded {
  font-family: "Walsheim";
  justify-content: center;
  width: 60%;
  border: 3px solid #FFF;
  background: radial-gradient(50% 50.00% at 50% 50.00%, #FEBC20 0%, #F7950F 100%);
  color: #37140B;
  font-family: "Walsheim";
  font-size: 17px;
  text-transform: lowercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  flex: 2 !important;
  text-transform: capitalize;
}

.option-compressed {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a.option-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 2vw;
  margin-left: 13px;
  margin-top: 27px;
}

.option-btn {
  margin: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* rachit's CSS (keep it at the very end of the css file */
.kisses-header {
  height: 170px;
  padding: 25px 25px 0px;
  margin-top: 40px;
}

.kisses-bg {
  width: 100%;
  position: relative;
  /* z-index: -1; */
}

.kisses-bg img {
  position: absolute;
  overflow: hidden;
}

.image-1-rc {
  position: absolute;
  right: 0px;
  top: -33px;
}

.outerDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.image-9 {
  right: -27px;
  top: -45px;
}

/* .question-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 145px;
  padding: 0px 15px;
} */
.hanging-circles {
  width: 100%;
  position: relative;
}

.hanging-circles img {
  width: 50px;
  position: absolute;
  right: 15px;
}

.bar-heading {
  width: 90%;
  margin: 0px auto;
  padding: 25px 0px 0px;
}

.bar-heading h3,
.bar-heading h1 {
  color: #472115;
}

.bar-heading .knowYour-bar {
  margin: 0px;
}

.sketchy-lines {
  width: 100%;
  position: relative;
}

.sketchy-lines img {
  position: absolute;
  right: -10px;
  bottom: 0px;
}

#loadingscreen {
  display: none;
}

.first-loading-screen {
  background-image: url(images/diwali-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  display: block;
}

.first-loading-chocolate-img {
  width: 95%;
  margin: auto;
}

.first-loading-chocolate-svg {
  background-color: transparent;
  width: 100%;
}

.loading-text {
  font-family: 'Walsheim';
  margin: auto;
  text-align: center;
  color: #61311a;
  width: max-content;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 2rem;
}

.loading-screen {
  display: none;
  width: 100%;
  height: 110vh;
  margin: 0px auto;
  background: linear-gradient(90deg, #2D100C 0%, #61311A 100%), #3F000B;
}

.loading-media {
  width: 100%;
  height: 60vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-placeholder {
  width: 100%;
  height: 100%;
}

.loading-video {
  width: 100%;
  display: flex;
  justify-content: center;
}

.kisses-loading-video {
  width: 100%;
  display: none;
}

.loading-message {
  width: 100%;
  margin: 0px auto;
  padding: 25px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 15%;
  padding-bottom: 0px;
}

.loading-message h4 {
  font-size: 16px;
  color: #291213;
  text-align: center;
  font-family: "Walsheim";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 16px */
  letter-spacing: -0.384px;
}

.loading-message h4 span {
  background: linear-gradient(124deg, #FDEAB1 0%, #F6CD73 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loading-spinner {
  height: 10%;
  display: flex;
  align-items: center;
  color: #2E100C;
}

.loading-spinner .spinner-ns {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

.message-header {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  position: relative;
}

.close-icon {
  position: relative;
  width: 100%;
}

.close-icon img {
  position: absolute;
  right: -20px;
  width: 24px;
  cursor: pointer;
  top: -52px;
  background: #f3f3f3;
  padding: 5px;
  border-radius: 25px;
}

.message-header h3,
.message-header .dynamic-name h2 {
  margin: 0px;
  color: #2D1415;
  font-family: "Walsheim";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.message-header h3 {
  font-family: "Walsheim-Medium";
  font-size: 16px;
}

.message-header .dynamic-name h2 {
  font-size: 20px;
}

@-webkit-keyframes bummer {
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes bummer {
  100% {
    transform: scale(1, 1);
  }
}

.message-wrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 999;
  border-radius: 10px;
  padding: 25px;
  display: none;
  width: 99%;
  height: fit-content;
  margin: auto;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-animation: bummer 1s ease;
  animation: bummer 1s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.kisses-message {
  display: none;
  background: #E8B377;
  background-image: url("/images/kisses-shape-bg.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: top;
  margin: auto;
  height: max-content;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, .7);
}

.dynamic-name {
  display: flex;
  font-family: "Walsheim";
}

/* .message-body .dynamic-note p {
  margin: 20px 0px 0px 0px;
  font-family: "Walsheim-Medium";
  font-size: 18px;
  text-align: justify;
  color: #2D1415;
} */
.message-body .dynamic-note p span {
  font-family: "Walsheim";
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: black;
}

.dynamic-img {
  display: flex;
  justify-content: center;
}

.dynamic-img img {
  width: 50%;
}

.preview-text {
  z-index: 2;
  top: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 4px 1px rgba(0, 0, 0, 0.25);
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0px auto;
}

.preview-text h3 {
  font-family: "Walsheim";
  font-size: 21px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.rakhi-img-coupon {
  filter: opacity(0.2);
}

#ZapparSnapshotContainer {
  background-color: #3F000B !important;
}

#zapparSaveButton,
#zapparShareButton {
  border-radius: 6px;
  background: linear-gradient(133deg, #DFBC66 0%, #F7EF8A 23.44%, #FFF4C5 47.92%, #D2AC47 76.04%, #EDC967 100%), linear-gradient(170deg, #F6CD73 0%, #F2C869 100%) !important;
}

#zapparShareButton svg,
#zapparSaveButton svg {
  height: 60px !important;
}

#zapparCloseAref g {
  stroke: #EDC967;
}

#zapparSaveButton svg #Path-6,
#zapparSaveButton svg #Combined-Shape,
#zapparSaveButton svg text,
#picture-copy {
  fill: #3F000B !important;
}

.st0 {
  fill: #3F000B !important;
}

.st1 {
  font-family: 'Walsheim' !important;
}

#zapparSaveButton svg text {
  font-family: 'Walsheim' !important;
}

/* #ZapparPreviewVideo {
  height: 80vh!important;
} */
.zappar-mobile-only {
  background-color: rgba(63, 0, 11, .9) !important;
  font-family: "Walsheim-Medium" !important;
}

.zappar-svg-container svg {
  border-radius: 10px;
}

.option-row-bars {
  display: flex;
  flex-direction: row;
}

.div-var {
  display: flex;
  justify-content: center;
  flex: 1;
  font-family: "Walsheim";
  text-transform: capitalize;
}

.expanded-div-bars {
  font-family: "Walsheim";
  justify-content: center;
  width: 60%;
  border: 3px solid #FFF;
  background: radial-gradient(50% 50.00% at 50% 50.00%, #FEBC20 0%, #F7950F 100%);
  color: #37140B;
  font-family: "Walsheim";
  font-size: 17px;
  text-transform: lowercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  flex: 2 !important;
  text-transform: capitalize;
}

.without-x-borders {
  border-left: none;
  border-right: none;
}

.outerDiv-bar {
  padding-top: 15px;
}

.new-div-var {
  display: flex;
  justify-content: center;
  flex: 1;
  font-family: "Walsheim";
  text-transform: capitalize;
}

.bars-casacade-loading {
  width: 100%;
}

.window-exotic {
  display: none;
}

.receiver-wrapper {
  display: none;
  overflow-y: scroll;
  background-image: url(/images/kisses-shape-bg.png);
  background-size: contain;
  background-repeat: repeat-y;
  background-color: #E8B377;
  height: 100dvh;
}

.receiver-div {
  position: relative;
  z-index: 2;
  overflow-x: hidden;
  padding: 0px 0px 25px;
  ;
}

.receiver-img-bg {
  position: fixed;
  z-index: 1;
}

.receiver-kiss-cascade-drop {
  width: 100%;
  display: flex;
  justify-content: center;
}

.receiver-kiss-cascade-drop img {
  width: 80%;
}

.hanging-decoration-top {
  z-index: -1;
  position: fixed;
  top: 0px;
  left: 10px;
}

.flower-combo-4 {
  z-index: -1;
  position: fixed;
  width: 40%;
  bottom: -50px;
  left: -60px;
}

.flower-combo-3 {
  z-index: -1;
  position: fixed;
  width: 40%;
  right: -40px;
  top: 170px;
}

.receiver-div-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #3F000B;
}

.recevier-hershey-pack {
  width: 100%;
}

.receiver-div-content h3 {
  font-size: 20px;
  font-family: "Walsheim-Medium";
}

.receiver-div-content h1 {
  font-family: "snavely";
  font-size: 30px;
}

.receiver-div-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.receiver-div-button button {
  margin: 15px 0px;
  border-radius: 93px;
  background: linear-gradient(133deg, #DFBC66 0%, #F7EF8A 23.44%, #FFF4C5 47.92%, #D2AC47 76.04%, #EDC967 100%), linear-gradient(170deg, #F6CD73 0%, #F2C869 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #37140B;
  padding: 15px 50px;
  font-size: 21px;
  font-family: "Walsheim-Medium";
  text-transform: capitalize;
  border: none;
}

.hed-close-btn {
  background: linear-gradient(133deg, #DFBC66 0%, #F7EF8A 23.44%, #FFF4C5 47.92%, #D2AC47 76.04%, #EDC967 100%), linear-gradient(170deg, #F6CD73 0%, #F2C869 100%);
  border-radius: 15px;
  padding: 5px;
}

.hed-message {
  background-color: #3F000B;
  background-image: url('/images/hed-note-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 80%;
}

.bar-message {
  background: linear-gradient(225deg, #FDEAB1 0%, #FAE1A1 30.71%, rgba(253, 234, 177, 0.00) 100%), linear-gradient(316deg, #F5CC72 0%, #F5CC72 100%), linear-gradient(170deg, #F6CD73 0%, #F2C869 100%);
  background-size: cover;
  background-position: center;
  position: absolute;
}

.bars-note-png {
  background-image: url('/images/bars-note-bg.png');
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.bars-dynamic-img {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0px !important;
}

#completenote {
  color: #2D100C;
  font-size: 12px;
  margin: 0px;
  font-family: "Walsheim-Medium";
}

.message-header .hed-note-text,
.message-header .hed-dynamic-name h2,
.hed-note-text {
  color: unset;
  background: linear-gradient(124deg, rgb(253, 234, 177) 0%, rgb(246, 205, 115) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.message-header .bars-note-text,
.message-header .bars-dynamic-name h2,
.bars-note-text {
  color: #2D1415;
  font-family: "Walsheim";

}


/* rachit's CSS end's here */


/* -------------------------------------- */
/* Your CSS styles */
.carosel-images.active {
  border: 2px solid transparent;
  /* Add any style you want for the active image */
}

.carosel-images.disabled {
  opacity: 0.5;
  /* You can change the style to make disabled images appear faded or grayed out */
  pointer-events: none;
  /* Prevent clicks on disabled images */
}

/* -----------------------------------------------------------hershey exotic */
.window-exotic {
  background: rgba(65, 14, 15, 1);
  /* height: 115; */
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100dvh;
}

.window-exotic .rakhi-kiss-image {
  width: 165px;
  position: absolute;
  top: 19px;
  right: 0px;
}

.image-1-rc-exotic {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 3;
}

.hersheyBackgroundImageSection-4-duplicate-exotic {
  right: -14px;
  top: -52px;
}

.hersheyBackgroundImage-exotic {
  margin-top: -36px;
  left: -9px;
}

.image-9-exotic {
  right: -15px;
  top: -45px;
}

.qns-exotic-1 {
  position: relative;
  z-index: 2;
  min-height: 210px;
  padding: 25px 0px;
  border: 7px solid hsl(44, 79%, 67%);
  border-radius: 15px;
  background: #F2C869;
  background-image: url(/images/card-background.png);
  background-repeat: no-repeat;
  background-size: 102% 104%;
  background-position: center;
  box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.30) inset, 0px -9px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Walsheim";
  margin-bottom: 25px;
}

.bottom-berries-img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.hed-next-btn {
  position: relative;
  z-index: 9;
}

.gliter-with-group {
  height: 42px;
}

.gliter-with-groups {
  position: relative;
  z-index: 4;
  top: -109px;
  height: 116px;
  margin-left: -23px;
}

.hershey-exotic-div {
  margin-top: 33px;
}

.exotic-content {
  margin-left: 16px;
}

/* ---------------------------hershey exotic cards */







.exotic-dark {
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  margin: 1px;
  width: 32.33%;
  height: 100%;
  font-size: 12px;
  /* position: relative; */
  float: left;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: white;
  font-family: "snavely";
  text-transform: lowercase;
}

.exotic-hershey {
  width: 60%;
  background: linear-gradient(170deg, rgba(246, 205, 115, 0.20) 0%, rgba(242, 200, 105, 0.20) 100%), linear-gradient(225deg, #FDEAB1 0%, #FAE1A1 30.71%, rgba(253, 234, 177, 0.00) 100%), linear-gradient(316deg, #F5CC72 0%, #F5CC72 100%);
  border: 2px solid hsl(44, 79%, 67%);
  color: #37140B;
  font-family: "snavely";
  text-transform: lowercase;
  font-size: 17px;
}

.compressed-div {
  width: 18.5%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#exotic-hershey-1 {
  background-color: #774629;
}

#exotic-hershey-2 {
  background-color: #774629;
}

#exotic-hershey-3 {
  background-color: #774629;
}

a.expansion-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 2vw;
  margin-left: 13px;
  margin-top: 27px;
}

.expansion-btn {
  margin-top: 11px;
  margin-left: 12px;
}

/* -------------------------------- */
.exotic-card2 {
  justify-content: center;
}

.container {
  width: 80%;
  max-width: 800px;
}

/* Styles for the exotic divs */
.exotic-div {
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  margin: 1px;
  width: 32.33%;
  height: 100%;
  font-size: 12px;
  /* position: relative; */
  float: left;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: white;
  font-family: "snavely";
  text-transform: lowercase;
}

.exotic-expanded-div {
  width: 60%;
  background: linear-gradient(170deg, rgba(246, 205, 115, 0.20) 0%, rgba(242, 200, 105, 0.20) 100%), linear-gradient(225deg, #FDEAB1 0%, #FAE1A1 30.71%, rgba(253, 234, 177, 0.00) 100%), linear-gradient(316deg, #F5CC72 0%, #F5CC72 100%);
  border: 2px solid hsl(44, 79%, 67%);
  color: #37140B;
  font-family: "snavely";
  text-transform: lowercase;
  font-size: 17px;
}

.exotic-compressed-div {
  width: 18.5%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* Styles for the exotic div backgrounds */
#exotic-dark-card2-1 {
  background-color: #774629;
}

#exotic-dark-card2-2 {
  background-color: #774629;
}

#exotic-dark-card2-3 {
  background-color: #774629;
}

/* Styles for the expansion buttons */
.exotic-expansion-btn {
  margin: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ---------------------------------------------- */
.exotic-card-container {
  justify-content: center;
}

.exotic-option-container {
  width: 80%;
  max-width: 800px;
}

.exotic-question {
  font-size: 24px;
  font-family: "snavely";
}










/* -------------------card3 */

.sibling-bond-option {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  margin: 1px;
  width: 32.33%;
  height: 100%;
  font-size: 12px;
  /* position: relative; */
  float: left;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: white;
  font-family: "snavely";
  text-transform: lowercase;
}

.expanded-option {

  width: 60%;
  background: linear-gradient(170deg, rgba(246, 205, 115, 0.20) 0%, rgba(242, 200, 105, 0.20) 100%), linear-gradient(225deg, #FDEAB1 0%, #FAE1A1 30.71%, rgba(253, 234, 177, 0.00) 100%), linear-gradient(316deg, #F5CC72 0%, #F5CC72 100%);
  border: 2px solid hsl(44, 79%, 67%);
  color: #37140B;
  font-family: "snavely";
  text-transform: lowercase;
  font-size: 17px;
}

.compressed-option {
  width: 18.5%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#option-exotic-1 {
  background-color: #774629;
}

#option-exotic-2 {
  background-color: #774629;
}

#option-exotic-3 {
  background-color: #774629;
}

.option-text {
  margin: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Video Preview Container */
#preview-Container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10000;
  background-color: #3F000B;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  display: none;
  flex-direction: column;
  justify-content: center;
}

#closebtn {
  position: absolute;
  width: 25px;
  top: 20px;
  right: 20px;
}

#savebtn {
  display: block;
  bottom: 5vh;
  height: 9.6vw;
  width: 20vw;
  left: 40vw;
  background-image: url(images/record-video-save.png);
  background-position: center;
  background-size: contain;
}

#sharebtn {
  display: block;
  bottom: 5vh;
  height: 9.6vw;
  width: 20vw;
  right: 10vw;
  background-image: url(images/record-video-share.png);
  background-position: center;
  background-size: contain;
}

#rakhi {
  display: none;
  position: absolute;
  z-index: 3554644;
  top: 0;
  height: 20%;
}

#videotag {
  height: 75%;
  position: absolute;
  top: -40px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  width: 90%;
}

.record-video-controls {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 35px;
}

.packSelectedOne {
  border: 5px solid greenyellow;
}