@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");


@font-face {
  font-family: "Walsheim";
  src: url("./fonts/GT-Walsheim-Bold.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    font-family: "Walsheim";
    
}
h1 {
    display: none;
    position: absolute;
    z-index: 2;
    font-size: 10rem;
    color: yellow;
}
#tap-to-place {
    position: fixed;
    bottom: 20px;
    left: 50%;
    right: 0px;
    border-radius: 15px;
    background: black;
    color: white;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: uppercase;
}
body {
  margin: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}
button { pointer-events:initial; }


*{
  overflow: hidden;
}
.hersheylogo{
  width: 120px;
}
.defaultImage{
  height: 30vh;
  background-color: black;
}
.bottom{
 background-color: #3F000B;
 height: 70vh;
}
.festive-text{
  font-family: "Walsheim";
  font-size: 36px;
  padding: 22px;
  margin-top: 30px;

  
}
.sendgift{
  font-family: "Walsheim";
  padding: 17px, 92px, 17px, 92px;
  background-color: #007BBD;
  gap: 10px;
  color: white;
}
.sendingButton{
  /* position: absolute; */
  bottom: 30px;
  /* transform: translateX(-50%); */
  left: 50%;
}
.sendgift{
  border-radius: 57px;
  width: 316px;
  margin-bottom: 30px;
  height: 54px;
 
}
.thankyounote{
  font-family: "Walsheim";
  border-radius: 57px;
  width: 316px;
  height: 54px;
  background: transparent;
  color: white;
  border: 2px solid white;
}
.header{
  background-color: #D9D9D9;
}

/* second screen */
#secondscreen{
  display: none;
}
.wrapper{
  background-color: #3F000B;
  height: 100vh;
}
.orange-wrapper{
  background-color: #EE7700;
  height: 87%;
  margin: 13px;
  
}
.surprise-heading{
  font-family: "Walsheim";
  color: white;
}
.username-section{
  margin-top: 21px;
  margin-left: 18px;
  font-size: 23px;
}
.blue-wrapper{
  background-color: #003594;
  height: 40%;
  margin-top: 14px;
}
.breakline{
  color: inherit;
  border-top: var(--bs-border-width) solid;
  opacity: .25;
  margin-left: 18px;
  margin-right: 18px;
  border: 1px solid;
  margin-top: 6px;
 
}
.owl-dot{
  display: none !important;
}
.blue-child-wrapper{
  color: white;
}
.owl-item{
  margin: -36px !important;
}
.owl-prev{
  display: none !important;
}
.carosel-images{
    width: 64% !important;
    margin: 58px;
    margin-top: 83px;
}
.userName{
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.80);
  font-family: GT Walsheim;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.photo-frame{
  height: 70px;
}
.uploader{
  height: 70px;
  margin: 18px;
  background-color: #4068AF;
}
/* #imagediv{
  width: 100px;
  height: 100%;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */
.photo{
    width: 66%;
    align-self: center;
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Walsheim";

}
.upload-section{
  margin-top: 0px;
}
.next-button{
  position: absolute;
    bottom: 46px;
    /* border-radius: 12px; */
    width: 207px;
    font-size: 24px;
    height: 55px;
    border-radius: 93px;
    background: #007BBD;
    color: white;
    font-family: "Walsheim";
}


/* zapper permission request UI */
.zappar-permission-request {
  background-color: #3F000B!important;
  font-family: "Walsheim"!important;
}
/* .zappar-permission-request .zappar-title .zappar-title {
  font-size: 36px!important;
  text-align: left!important;
} */